{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/locationUsageTag.njk" import locationUsageTag %}

{#
  Macro to display the schedule rows and edit links for a decorated prison room.
  Params:
    - prison: Prison
    - room: Location
    - court: List<Court>
    - probationTeams: List<ProbationTeam>
#}

{% macro displayRoomSchedule(prison, room, courts, probationTeams) %}

    <input type="hidden" name="existingSchedule" value="true" />

    {% set rows = [] %}

    {% for schedule in room.extraAttributes.schedule %}

        {% set editLinksHtml %}
            <a href="/admin/delete-schedule/{{ prison.code }}/{{ room.dpsLocationId }}/{{ schedule.scheduleId }}"
               class="govuk-link govuk-link--no-visited-state govuk-!-margin-right-2">Delete
            </a>

            <a href="/admin/edit-schedule/{{ prison.code }}/{{ room.dpsLocationId }}/{{ schedule.scheduleId }}"
               class="govuk-link govuk-link--no-visited-state">Edit
            </a>
        {% endset %}

        {% set usageHtml %}
            {{ locationUsageTag(schedule.locationUsage | convertToTitleCase, "govuk-tag--blue") }}
        {% endset %}

        {% set allocationsHtml %}
            {% for party in schedule.allowedParties %}
                <div>
                {% if schedule.locationUsage === 'COURT' %}
                    {{ (courts | find('code', party)).description or 'Unknown court' }}
                {% else %}
                    {{ (probationTeams | find('code', party)).description or 'Unknown team' }}
                {% endif %}
                </div>
            {% endfor %}
        {% endset %}

        {% set rows = (rows.push([
            { text: schedule.startDayOfWeek | capitalize },
            { text: schedule.endDayOfWeek | capitalize },
            { text: schedule.startTime | truncate(5, true, '') },
            { text: schedule.endTime | truncate(5, true, '') },
            { html: usageHtml },
            { html: allocationsHtml },
            { html: editLinksHtml }
        ]), rows) %}

    {% endfor %}

    {{ govukTable({
        caption: "Room schedule",
        captionClasses: "govuk-table__caption--m",
        head: [
            { text: "Start day" },
            { text: "End day" },
            { text: "Start time" },
            { text: "End time" },
            { text: "Permissions" },
            { text: "Allocations" },
            { text: "Action" }
        ],
        rows: rows
    }) }}

    {# Add another schedule #}
    <div class="govuk-button-group">
        {{ govukButton({
            classes: "govuk-button--secondary",
            text: "Add another schedule",
            href: '/admin/add-schedule/' + prison.code + '/' + room.dpsLocationId + ''
        }) }}
    </div>

{% endmacro %}