{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{#
  Macro to allow the add-another pattern for courts
  This same macro is used for the room-level allowed courts, and scedule-level allowed courts.

  Parameters passed in:
    - courts            - The full list of avaiable courts and descriptions
    - fieldName         - The name of the form field to render
    - room              - The room oject
    - formResponses     - The form responses returned after a validation error on POST
    - validationErrors  - The list of error messages return after a validation error on POST.
    - editValues        - A schedule object, in display-format, to pre-populdate values when editing a schedule.
#}

{% macro selectCourtFromList(courts, fieldName, room, formResponses, validationErrors, editValues) %}
    <div class="moj-add-another">
        {% set selectsToRender = ([formResponses[fieldName]] | flatten if formResponses) or
            (room.extraAttributes.allowedParties if room.extraAttributes.locationUsage == 'COURT' and room.extraAttributes.allowedParties.length) or
            (editValues.scheduleCourtCodes if editValues.schedulePermission == 'court' and editValues.scheduleCourtCodes.length) or
            [""]
        %}

        {% for value in selectsToRender %}
            <fieldset class="govuk-fieldset moj-add-another__item">
                {% set items = [{ text: "", value: "" }] %}
                {% for court in courts %}
                    {% set items = (items.push({
                        value: court.code,
                        text: court.description,
                        selected: value == court.code
                    }), items) %}
                {% endfor %}

                {{ govukSelect({
                    name: fieldName,
                    id: fieldName + (("-" + loop.index0) if loop.index0 > 0),
                    items: items,
                    label: {
                        text: "Allocate court (optional)"
                    },
                    errorMessage: validationErrors | findError(fieldName)
                }) }}

                {% if selectsToRender.length > 1 %}
                    <button type="button" class="moj-add-another__remove-button">Remove</button>
                {% endif %}
            </fieldset>
        {% endfor %}

        <div class="moj-button-action">
            <button type="button" class="moj-add-another__add-button">Add another court</button>
        </div>
    </div>
{% endmacro %}
