{% extends "partials/layout.njk" %}

{% set pageTitle = "Manage your list of probation teams" %}

{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
            <p class="govuk-body">If you select one probation team, it will be used for all future bookings you make. If you select more than one probation team, you can select from these probation teams each time you make a booking.</p>
            <p class="govuk-body">You can change your list of probation teams in the 'Manage your list of probation teams' section.</p>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Probation teams by A-Z</h2>

            <form method='POST'>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {% set sections = [] %}
                {% for letter, probationTeamList in probationTeams %}
                    {% set sectionHtml %}
                        {% set items = [] %}
                        {% for probationTeam in probationTeamList %}
                            {% set items = (items.push(
                                {
                                    value: probationTeam.code,
                                    text: probationTeam.description
                                }
                            ), items) %}
                        {% endfor %}

                        {{ govukCheckboxes({
                            name: "probationTeams",
                            items: items
                        }) }}
                    {% endset %}

                    {% set sections = (sections.push(
                        {
                            heading: { text: letter },
                            content: { html: sectionHtml }
                        }
                    ), sections) %}
                {% endfor %}

                {{ govukAccordion({
                    id: "probation-teams-accordian",
                    items: sections
                }) }}

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Confirm"
                    }) }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
