{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukPhaseBanner({
  attributes: {
    role: "complementary"
  },
  tag: {
    text: "ALPHA"
  },
  classes: 'govuk-!-display-none-print',
  html: '
          <a href="' + feedbackUrl + '" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer" target="_blank">Provide feedback<span class="govuk-visually-hidden">(opens in a new tab)</span></a>
          or
          <a href="' + reportAFaultUrl + '" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer" target="_blank">report a fault<span class="govuk-visually-hidden">(opens in a new tab)</span></a>
          to help us improve this service.
        '
}) }}

{% if not hideBackLink %}
  <nav>
    {{ govukBackLink({
      text: backLinkText or "Back",
      classes: 'govuk-!-display-none-print',
      href: backLinkHref
    }) }}
  </nav>
{% endif %}

{% include './formErrorSummary.njk' %}
{% include './successMessage.njk' %}
