{% extends "partials/layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "The video link has been requested" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({ titleText: pageTitle, classes: 'govuk-!-margin-bottom-6' }) }}

            <p class='govuk-body'>
                We have emailed the prison to book the video link. The details have also been sent to you.
                The prison will email your court when they have booked the video link.
            </p>

            <h2 class='govuk-heading-m'>Video link details</h2>
            {{ govukSummaryList({
                rows: [
                    {
                        key: {
                            text: "Name"
                        },
                        value: {
                            text: (prisoner.firstName + " " + prisoner.lastName) | convertToTitleCase
                        }
                    },
                    {
                        key: {
                            text: "Date of birth"
                        },
                        value: {
                            text: prisoner.dateOfBirth | formatDate
                        }
                    },
                    {
                        key: {
                            text: "Prison"
                        },
                        value: {
                            text: prisoner.prisonName
                        }
                    },
                    {
                        key: {
                            text: "Court" if session.req.params.type == BavlJourneyType.COURT else "Probation team"
                        },
                        value: {
                            text: (agencies | find('code', session.journey.bookAVideoLink.agencyCode)).description
                        }
                    },
                    {
                        key: {
                            text: "Hearing type" if session.req.params.type == BavlJourneyType.COURT else "Meeting type"
                        },
                        value: {
                            text: (hearingTypes | find('code', session.journey.bookAVideoLink.hearingTypeCode)).description
                        }
                    },
                    {
                        key: {
                            text: "Date"
                        },
                        value: {
                            text: session.journey.bookAVideoLink.date | formatDate
                        }
                    },
                    {
                        key: {
                            text: "Prison room for court hearing" if session.req.params.type == BavlJourneyType.COURT else "Prison room for probation meeting"
                        },
                        value: {
                            text: (rooms | find('key', session.journey.bookAVideoLink.locationCode)).description
                        }
                    },
                    {
                        key: {
                            text: "Hearing start time" if session.req.params.type == BavlJourneyType.COURT else "Meeting start time"
                        },
                        value: {
                            text: session.journey.bookAVideoLink.startTime | formatDate('HH:mm')
                        }
                    },
                    {
                        key: {
                            text: "Hearing end time" if session.req.params.type == BavlJourneyType.COURT else "Meeting end time"
                        },
                        value: {
                            text: session.journey.bookAVideoLink.endTime | formatDate('HH:mm')
                        }
                    },
                    {
                        key: {
                            text: "Prison room for pre-court hearing"
                        },
                        value: {
                            text: (rooms | find('key', session.journey.bookAVideoLink.preLocationCode)).description
                        }
                    } if session.journey.bookAVideoLink.preLocationCode,
                    {
                        key: {
                            text: "Pre-hearing start time"
                        },
                        value: {
                            text: session.journey.bookAVideoLink.preHearingStartTime | formatDate('HH:mm')
                        }
                    } if session.journey.bookAVideoLink.preHearingStartTime,
                    {
                        key: {
                            text: "Pre-hearing end time"
                        },
                        value: {
                            text: session.journey.bookAVideoLink.preHearingEndTime | formatDate('HH:mm')
                        }
                    } if session.journey.bookAVideoLink.preHearingEndTime,
                    {
                        key: {
                            text: "Prison room for post-court hearing"
                        },
                        value: {
                            text: (rooms | find('key', session.journey.bookAVideoLink.postLocationCode)).description
                        }
                    } if session.journey.bookAVideoLink.postLocationCode,
                    {
                        key: {
                            text: "Post-hearing start time"
                        },
                        value: {
                            text: session.journey.bookAVideoLink.postHearingStartTime | formatDate('HH:mm')
                        }
                    } if session.journey.bookAVideoLink.postHearingStartTime,
                    {
                        key: {
                            text: "Post-hearing end time"
                        },
                        value: {
                            text: session.journey.bookAVideoLink.postHearingEndTime | formatDate('HH:mm')
                        }
                    } if session.journey.bookAVideoLink.postHearingEndTime,
                    {
                        key: {
                            text: "Video Link URL"
                        },
                        value: {
                            text: session.journey.bookAVideoLink.videoLinkUrl
                        }
                    } if session.journey.bookAVideoLink.videoLinkUrl
                ]
            }) }}

            <div class="govuk-button-group">
                {{ govukButton({ text: "Exit", href: '/' }) }}
                <a href='/{{ session.req.params.type }}/booking/create/prisoner-search' class="govuk-link govuk-link--no-visited-state" data-qa='bookAnotherLink'>Book another video link</a>
            </div>
        </div>
    </div>
{% endblock %}
