{% extends "partials/layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% set pageTitle = "Check and confirm your booking" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            {{ govukSummaryList({
                rows: [
                    {
                        key: {
                            text: "Name"
                        },
                        value: {
                            text: prisoner.name + ' (' + prisoner.prisonerNumber + ')'
                        }
                    },
                    {
                        key: {
                            text: "Prison"
                        },
                        value: {
                            text: prisoner.prisonName
                        }
                    },
                    {
                        key: {
                            text: "Court" if session.req.params.type == BavlJourneyType.COURT else "Probation team"
                        },
                        value: {
                            text: (agencies | find('code', session.journey.bookAVideoLink.agencyCode)).description
                        }
                    },
                    {
                        key: {
                            text: "Hearing type" if session.req.params.type == BavlJourneyType.COURT else "Meeting type"
                        },
                        value: {
                            text: (hearingTypes | find('code', session.journey.bookAVideoLink.hearingTypeCode)).description
                        }
                    },
                    {
                        key: {
                            text: "Date"
                        },
                        value: {
                            text: session.journey.bookAVideoLink.date | formatDate
                        }
                    },
                    {
                        key: {
                            text: "Prison room for court hearing" if session.req.params.type == BavlJourneyType.COURT else "Prison room for probation meeting"
                        },
                        value: {
                            text: (rooms | find('key', session.journey.bookAVideoLink.locationCode)).description
                        }
                    },
                    {
                        key: {
                            text: "Hearing start time" if session.req.params.type == BavlJourneyType.COURT else "Meeting start time"
                        },
                        value: {
                            text: session.journey.bookAVideoLink.startTime | formatDate('HH:mm')
                        }
                    },
                    {
                        key: {
                            text: "Hearing end time" if session.req.params.type == BavlJourneyType.COURT else "Meeting end time"
                        },
                        value: {
                            text: session.journey.bookAVideoLink.endTime | formatDate('HH:mm')
                        }
                    },
                    {
                        key: {
                            text: "Prison room for pre-court hearing"
                        },
                        value: {
                            text: (rooms | find('key', session.journey.bookAVideoLink.preLocationCode)).description
                        }
                    } if session.journey.bookAVideoLink.preLocationCode,
                    {
                        key: {
                            text: "Pre-hearing start time"
                        },
                        value: {
                            text: session.journey.bookAVideoLink.preHearingStartTime | formatDate('HH:mm')
                        }
                    } if session.journey.bookAVideoLink.preHearingStartTime,
                    {
                        key: {
                            text: "Pre-hearing end time"
                        },
                        value: {
                            text: session.journey.bookAVideoLink.preHearingEndTime | formatDate('HH:mm')
                        }
                    } if session.journey.bookAVideoLink.preHearingEndTime,
                    {
                        key: {
                            text: "Prison room for post-court hearing"
                        },
                        value: {
                            text: (rooms | find('key', session.journey.bookAVideoLink.postLocationCode)).description
                        }
                    } if session.journey.bookAVideoLink.postLocationCode,
                    {
                        key: {
                            text: "Post-hearing start time"
                        },
                        value: {
                            text: session.journey.bookAVideoLink.postHearingStartTime | formatDate('HH:mm')
                        }
                    } if session.journey.bookAVideoLink.postHearingStartTime,
                    {
                        key: {
                            text: "Post-hearing end time"
                        },
                        value: {
                            text: session.journey.bookAVideoLink.postHearingEndTime | formatDate('HH:mm')
                        }
                    } if session.journey.bookAVideoLink.postHearingEndTime,
                    {
                        key: {
                            text: "Video Link URL"
                        },
                        value: {
                            text: session.journey.bookAVideoLink.videoLinkUrl
                        }
                    } if session.journey.bookAVideoLink.videoLinkUrl
                ]
            }) }}

            <form method="POST" class="govuk-!-margin-top-6">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukCharacterCount({
                    name: "comments",
                    id: "comments",
                    maxlength: 400,
                    label: {
                        text: "Comments (optional)"
                    },
                    hint: {
                        text: "This can include the hearing number, type of hearing and any other additional details"
                    },
                    errorMessage: validationErrors | findError('comments'),
                    value: formResponses.comments
                }) }}

                {{ govukButton({
                    text: "Book video link",
                    type: 'submit'
                }) }}
            </form>

            <a href='../add-video-link-booking' class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">Change booking</a>
        </div>
    </div>
{% endblock %}
