{% extends "partials/layout.njk" %}
{% from "components/card.njk" import card %}

{% set pageTitle = "Book a video link with a prison" %}
{% set hideBackLink = true %}

{% block content %}
    <h1 class="govuk-heading-l govuk-!-margin-top-7">{{ pageTitle }}</h1>
    <p class="govuk-body govuk-!-margin-bottom-7">If you work in a court or probation team, you can book a video link with a prison for a court appearance or probation meeting.</p>
    <div class="card-group govuk-grid-row">
        {% if user.isCourtUser %}
            <div class="govuk-grid-column-one-third card-group__item">
                {{ card({
                    "href": "/court/prisoner-search/search",
                    "clickable": "true",
                    "heading": "Book a new video link",
                    "description": "Create a new video link booking between a court and a prison.",
                    "data-qa": "create-booking-card-court"
                }) }}
            </div>

            <div class="govuk-grid-column-one-third card-group__item">
                {{ card({
                    "href": "/court/view-booking",
                    "clickable": "true",
                    "heading": "View and change video links",
                    "description": "You can view and change existing video link bookings for your courts.",
                    "data-qa": "view-bookings-card-court"
                }) }}
            </div>

            <div class="govuk-grid-column-one-third card-group__item">
                {{ card({
                    "href": "/court/user-preferences",
                    "clickable": "true",
                    "heading": "Manage your list of courts",
                    "description": "Choose the courts you book video links for.",
                    "data-qa": "choose-courts-card"
                }) }}
            </div>
        {% endif %}

        {% if user.isProbationUser %}
            <div class="govuk-grid-column-one-third card-group__item">
                {{ card({
                    "href": "/probation/prisoner-search/search",
                    "clickable": "true",
                    "heading": "Book a new video link",
                    "description": "Create a new video link booking between a probation team and a prison.",
                    "data-qa": "create-booking-card-probation"
                }) }}
            </div>

            <div class="govuk-grid-column-one-third card-group__item">
                {{ card({
                    "href": "/probation/view-booking",
                    "clickable": "true",
                    "heading": "View and change video links",
                    "description": "You can view and change existing video link bookings for your probation teams.",
                    "data-qa": "view-bookings-card-probation"
                }) }}
            </div>

            <div class="govuk-grid-column-one-third card-group__item">
                {{ card({
                    "href": "/probation/user-preferences",
                    "clickable": "true",
                    "heading": "Manage your list of probation teams",
                    "description": "Choose the probation teams you book video links for.",
                    "data-qa": "choose-probation-teams-card"
                }) }}
            </div>
        {% endif %}

        {% if user.isAdminUser %}
            <div class="govuk-grid-column-one-third card-group__item">
                {{ card({
                    "href": "/admin",
                    "clickable": "true",
                    "heading": "Administration area",
                    "description": "Administrative actions and data downloads.",
                    "data-qa": "admin-card"
                }) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
