{% extends "partials/layout.njk" %}

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% set mode = session.req.params.mode %}
{% set pageTitle = "Check and confirm your request" if mode == 'request' else "Check and confirm your booking" %}

{% set room = rooms | find('key', session.journey.bookAProbationMeeting.locationCode) %}

{% block content %}
    {% if warnPrison %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% set html %}
                    <p class="govuk-notification-banner__heading">Contact the prison to discuss before proceeding</p>
                    <p class="govuk-body">
                        New bookings or updates made after 3pm for the next day must be checked and agreed with the prison.
                        Same day bookings or updates should not be made in this service.
                        Please contact the prison for advice.
                    </p>
                {% endset %}

                {{ govukNotificationBanner({ html: html, attributes: {"data-qa": 'discuss-before-proceeding'} }) }}
            </div>
        </div>
    {% endif %}

    {% if mode == 'request' %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% set html %}
                    <p class="govuk-notification-banner__heading">Pending approval by {{ prisoner.prisonName }}</p>
                    <p class="govuk-body">
                        By confirming this request, you will be asking {{ prisoner.prisonName }} to complete the booking on your behalf. This is not a completed booking at this stage.
                    </p>
                {% endset %}

                {{ govukNotificationBanner({ html: html, attributes: {"data-qa": 'pending-prison-approval'} }) }}
            </div>
        </div>
    {% endif %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% set periods = [] %}
            {% for period in session.journey.bookAProbationMeeting.timePeriods %}
                {% set periods = (periods.push(TimePeriod[period]), periods) %}
            {% endfor %}

            {{ govukSummaryList({
                rows: [
                    {
                        key: {
                            text: "Prisoner name"
                        },
                        value: {
                            text: ((prisoner.firstName + " " + prisoner.lastName) | convertToTitleCase) + ((' (' + prisoner.prisonerNumber + ')') if prisoner.prisonerNumber)
                        },
                        actions: {
                            items: [
                                {
                                    href: "../../../../../prisoner-search/search",
                                    text: "Change",
                                    classes: 'govuk-link--no-visited-state',
                                    visuallyHiddenText: "prisoner"
                                }
                            ]
                        } if mode == 'create' or mode == 'request'
                    },
                    {
                        key: {
                            text: "Date of birth"
                        },
                        value: {
                            text: prisoner.dateOfBirth | formatDate
                        }
                    } if mode == 'request',
                    {
                        key: {
                            text: "Prison"
                        },
                        value: {
                            text: prisoner.prisonName
                        }
                    },
                    {
                        key: {
                            text: "Probation team"
                        },
                        value: {
                            text: (probationTeams | find('code', session.journey.bookAProbationMeeting.probationTeamCode)).description
                        },
                        actions: {
                            items: [
                                {
                                    href: "../video-link-booking#probationTeamCode",
                                    text: "Change",
                                    classes: 'govuk-link--no-visited-state',
                                    visuallyHiddenText: "probation team"
                                }
                            ]
                        } if (mode == 'create' or mode == 'request') and probationTeams.length > 1
                    },
                    {
                        key: {
                            text: "Probation officer's full name"
                        },
                        value: {
                            text: session.journey.bookAProbationMeeting.officer.fullName or "Not yet known"
                        },
                        actions: {
                            items: [
                                {
                                    href: "../video-link-booking#officerFullName",
                                    text: "Change",
                                    classes: 'govuk-link--no-visited-state',
                                    visuallyHiddenText: "probation officer's full name"
                                }
                            ]
                        }
                    } if enhancedProbationJourneyEnabled,
                    {
                        key: {
                            text: "Email address"
                        },
                        value: {
                            text: session.journey.bookAProbationMeeting.officer.email or "Not yet known"
                        },
                        actions: {
                            items: [
                                {
                                    href: "../video-link-booking#officerEmail",
                                    text: "Change",
                                    classes: 'govuk-link--no-visited-state',
                                    visuallyHiddenText: "probation officer's email address"
                                }
                            ]
                        }
                    } if enhancedProbationJourneyEnabled,
                    {
                        key: {
                            text: "UK phone number"
                        },
                        value: {
                            text: session.journey.bookAProbationMeeting.officer.telephone or ("Not yet known" if session.journey.bookAProbationMeeting.officerDetailsNotKnown else "None entered")
                        },
                        actions: {
                            items: [
                                {
                                    href: "../video-link-booking#officerTelephone",
                                    text: "Change",
                                    classes: 'govuk-link--no-visited-state',
                                    visuallyHiddenText: "probation officer's telephone"
                                }
                            ]
                        }
                    } if enhancedProbationJourneyEnabled,
                    {
                        key: {
                            text: "Meeting type"
                        },
                        value: {
                            text: (meetingTypes | find('code', session.journey.bookAProbationMeeting.meetingTypeCode)).description
                        },
                        actions: {
                            items: [
                                {
                                    href: "../video-link-booking#meetingTypeCode",
                                    text: "Change",
                                    classes: 'govuk-link--no-visited-state',
                                    visuallyHiddenText: "meeting type"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Date"
                        },
                        value: {
                            text: session.journey.bookAProbationMeeting.date | formatDate
                        },
                        actions: {
                            items: [
                                {
                                    href: "../video-link-booking#date",
                                    text: "Change",
                                    classes: 'govuk-link--no-visited-state',
                                    visuallyHiddenText: "date"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Meeting duration"
                        },
                        value: {
                            text: session.journey.bookAProbationMeeting.duration | toDuration
                        },
                        actions: {
                            items: [
                                {
                                    href: "../video-link-booking#duration",
                                    text: "Change",
                                    classes: 'govuk-link--no-visited-state',
                                    visuallyHiddenText: "duration"
                                }
                            ]
                        }
                    } if enhancedProbationJourneyEnabled and mode != 'request',
                    {
                        key: {
                            text: "Time period"
                        },
                        value: {
                            text: periods | join(" or ")
                        },
                        actions: {
                            items: [
                                {
                                    href: "../video-link-booking#timePeriods",
                                    text: "Change",
                                    classes: 'govuk-link--no-visited-state',
                                    visuallyHiddenText: "time period"
                                }
                            ]
                        }
                    } if enhancedProbationJourneyEnabled and mode != 'request',
                    {
                        key: {
                            text: "Meeting time"
                        },
                        value: {
                            text: session.journey.bookAProbationMeeting.startTime | formatDate('HH:mm') + ' to ' + session.journey.bookAProbationMeeting.endTime | formatDate('HH:mm')
                        },
                        actions: {
                            items: [
                                {
                                    href: "availability" if enhancedProbationJourneyEnabled and mode != 'request' else "../video-link-booking#startTime",
                                    text: "Change",
                                    classes: 'govuk-link--no-visited-state',
                                    visuallyHiddenText: "meeting time"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Meeting room"
                        },
                        value: {
                            text: room.description
                        },
                        actions: {
                            items: [
                                {
                                    href: "../video-link-booking#location",
                                    text: "Change",
                                    classes: 'govuk-link--no-visited-state',
                                    visuallyHiddenText: "meeting room"
                                }
                            ]
                        } if not enhancedProbationJourneyEnabled
                    } if not enhancedProbationJourneyEnabled or mode != 'request',
                    {
                        key: {
                            text: "Prison video link (PVL)"
                        },
                        value: {
                            text: room.extraAttributes.prisonVideoUrl or "None entered"
                        }
                    } if enhancedProbationJourneyEnabled and mode != 'request'
                ]
            }) }}

            {% set spinnerText %}
                {% if mode == 'create' %}
                    Booking video link
                {% elif mode == 'request' %}
                    Requesting video link
                {% else %}
                    Updating booking
                {% endif %}
            {% endset %}
            <form method="POST" class="govuk-!-margin-top-6" data-module="form-spinner" data-loading-text="{{ spinnerText }}">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukCharacterCount({
                    name: "comments",
                    id: "comments",
                    maxlength: 400,
                    label: {
                        text: "Comments (optional)"
                    },
                    hint: {
                        text: "This can include any other additional information" if enhancedProbationJourneyEnabled else "This should include probation officer’s full name and any other relevant details."
                    },
                    formGroup: {
                        classes: 'govuk-!-width-two-thirds'
                    },
                    errorMessage: validationErrors | findError('comments'),
                    value: formResponses.comments or session.journey.bookAProbationMeeting.comments
                }) }}

                {% set callToActionText %}
                    {% if mode == 'create' %}
                        Book video link
                    {% elif mode == 'request' %}
                       Request video link
                    {% else %}
                        Update booking
                    {% endif %}
                {% endset %}

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: callToActionText,
                        preventDoubleClick: true,
                        type: 'submit'
                    }) }}

                    <a href="{{ '/' if mode == 'create' or mode == 'request' else ('/probation/view-booking/' + session.journey.bookAProbationMeeting.bookingId) }}" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
