{% extends "partials/layout.njk" %}

{% from "components/hmppsTimePicker.njk" import hmppsTimePicker %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set mode = session.req.params.mode %}
{% set pageTitle = "Change video link booking" if mode == 'amend' else 'Enter video link booking details' %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <form method='POST'>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukSummaryList({
                    classes: "govuk-summary-list--no-border",
                    rows: [
                        {
                            key: {
                                text: "Name"
                            },
                            value: {
                                text: ((prisoner.firstName + " " + prisoner.lastName) | convertToTitleCase) + ((' (' + prisoner.prisonerNumber + ')') if prisoner.prisonerNumber)
                            }
                        },
                        {
                            key: {
                                text: "Date of birth"
                            },
                            value: {
                                text: prisoner.dateOfBirth | formatDate
                            }
                        } if mode == 'request',
                        {
                            key: {
                                text: "Prison"
                            },
                            value: {
                                text: prisoner.prisonName
                            }
                        },
                        {
                            key: {
                                text: "Probation Team"
                            },
                            value: {
                                text: agencies[0].description
                            }
                        } if agencies.length == 1,
                        {
                            key: {
                                text: "Probation Team"
                            },
                            value: {
                                text: (agencies | find('code', session.journey.bookAProbationMeeting.agencyCode)).description
                            }
                        } if mode == 'amend' and agencies.length > 1
                    ]
                }) }}

                {% if agencies.length === 1 %}
                    <input type="hidden" name="agencyCode" value="{{ agencies[0].code }}" />
                {% elseif mode === 'amend' %}
                    <input type="hidden" name="agencyCode" value="{{ session.journey.bookAProbationMeeting.agencyCode }}" />
                {% else %}
                    
                    {% set items = [{ text: "Select probation team", value: "" }] %}
                    {% for agency in agencies %}
                        {% set items = (items.push({
                            value: agency.code,
                            text: agency.description,
                            selected: formResponses.agencyCode == agency.code or session.journey.bookAProbationMeeting.agencyCode == agency.code
                        }), items) %}
                    {% endfor %}

                    {{ govukSelect({
                        name: "agencyCode",
                        id: "agencyCode",
                        label: {
                            text: "Which probation team is the meeting for?",
                            classes: 'govuk-label--s'
                        },
                        items: items,
                        errorMessage: validationErrors | findError("agencyCode"),
                        classes: "govuk-!-width-one-third"
                    }) }}
                {% endif %}

                {% set items = [{ text: "Select meeting type", value: "" }] %}
                {% for hearingType in hearingTypes %}
                    {% set items = (items.push({
                        value: hearingType.code,
                        text: hearingType.description,
                        selected: formResponses.hearingTypeCode == hearingType.code or session.journey.bookAProbationMeeting.hearingTypeCode == hearingType.code
                    }), items) %}
                {% endfor %}
                {{ govukSelect({
                    name: "hearingTypeCode",
                    id: "hearingTypeCode",
                    label: {
                        text: "Which type of meeting is this?",
                        classes: 'govuk-label--s'
                    },
                    items: items,
                    errorMessage: validationErrors | findError("hearingTypeCode"),
                    classes: "govuk-!-width-one-third"
                }) }}

                {{ mojDatePicker({
                    id: 'date',
                    name: 'date',
                    label: {
                        text: "Date",
                        classes: 'govuk-label--s'
                    },
                    hint: {
                        text: 'Enter the date, for example ' + exampleDatePickerDate() + ', or select the calendar to pick a date'
                    },
                    errorMessage: validationErrors | findError('date'),
                    value: formResponses.date or session.journey.bookAProbationMeeting.date | formatDate('dd/MM/yyyy')
                }) }}

                {{ hmppsTimePicker({
                    id: 'startTime',
                    name: 'startTime',
                    label: {
                        text: 'Start time',
                        classes: 'govuk-fieldset__legend--s'
                    },
                    errorMessage: validationErrors | findError('startTime'),
                    formResponses: formResponses.startTime or session.journey.bookAProbationMeeting.startTime
                }) }}

                {{ hmppsTimePicker({
                    id: 'endTime',
                    name: 'endTime',
                    label: {
                        text: 'End time',
                        classes: 'govuk-fieldset__legend--s'
                    },
                    errorMessage: validationErrors | findError('endTime'),
                    validationErrors: validationErrors,
                    formResponses: formResponses.endTime or session.journey.bookAProbationMeeting.endTime
                }) }}

                {% set items = [{ text: "Select prison room", value: "" }] %}
                {% for room in rooms | filter('allowedForMain', true) %}
                    {% set items = (items.push({
                        value: room.key,
                        text: room.description,
                        selected: formResponses.location == room.key or session.journey.bookAProbationMeeting.locationCode == room.key
                    }), items) %}
                {% endfor %}

                {{ govukSelect({
                    name: "location",
                    id: "location",
                    label: {
                        text: "Prison room for probation meeting",
                        classes: 'govuk-label--s'
                    },
                    items: items,
                    errorMessage: validationErrors | findError("location"),
                    classes: "govuk-!-width-one-third"
                }) }}

                {{ govukButton({
                    text: "Continue",
                    type: "submit"
                }) }}
            </form>

            {% if mode == 'create' or mode == 'request' %}
                <a href="../../../../prisoner-search/search" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">Return to prisoner search</a>
            {% else %}
                <a href="/probation/view-booking/{{ session.journey.bookAProbationMeeting.bookingId }}" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">Cancel</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
