{% extends "partials/layout.njk" %}

{% set pageTitle = "Manage your list of courts" %}

{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
            <p class="govuk-body">If you select one court, this court will be used for all future bookings you make. If you select more than one court, you can select from these courts each time you make a booking.</p>
            <p class="govuk-body">You can change your list of courts in the 'Manage your list of courts' section.</p>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Courts by A-Z</h2>

            <form method='POST'>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {% set sections = [] %}
                {% for letter, courtList in courts %}
                    {% set sectionHtml %}
                        {% set items = [] %}
                        {% for court in courtList %}
                            {% set items = (items.push(
                                {
                                    value: court.code,
                                    text: court.description,
                                    checked: court.code in selectedCourts | map('code')
                                }
                            ), items) %}
                        {% endfor %}

                        {{ govukCheckboxes({
                            name: "courts",
                            idPrefix: letter + "-courts",
                            items: items
                        }) }}
                    {% endset %}

                    {% set sections = (sections.push(
                        {
                            heading: { text: letter },
                            content: { html: sectionHtml }
                        }
                    ), sections) %}
                {% endfor %}

                {{ govukAccordion({
                    id: "courts-accordian",
                    items: sections
                }) }}

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Confirm"
                    }) }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
