{% extends "partials/layout.njk" %}

{% from "components/hmppsTimePicker.njk" import hmppsTimePicker %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% set mode = session.req.params.mode %}
{% set prisonerName = ((prisoner.firstName + ' ' + prisoner.lastName) | convertToTitleCase) %}
{% set pageTitle = "Change video link booking" if mode == 'amend' else "Select a date and time for the court video link hearing" %}
{% set pageHeading = "Change " + prisonerName + "'s video link booking" if mode == 'amend' else "Select a date and time for " + prisonerName +"'s court video link hearing" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <form method='POST'>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukSummaryList({
                    classes: "govuk-summary-list--no-border",
                    rows: [
                        {
                            key: {
                                text: "Name"
                            },
                            value: {
                                text: ((prisoner.firstName + " " + prisoner.lastName) | convertToTitleCase) + ((' (' + prisoner.prisonerNumber + ')') if prisoner.prisonerNumber)
                            }
                        } if mode == 'request',
                        {
                            key: {
                                text: "Date of birth"
                            },
                            value: {
                                text: prisoner.dateOfBirth | formatDate
                            }
                        } if mode == 'request',
                        {
                            key: {
                                text: "Prison"
                            },
                            value: {
                                text: prisoner.prisonName
                            }
                        } if mode == 'request',
                        {
                            key: {
                                text: "Court"
                            },
                            value: {
                                text: courts[0].description
                            }
                        } if courts.length == 1,
                        {
                            key: {
                                text: "Court"
                            },
                            value: {
                                text: (courts | find('code', session.journey.bookACourtHearing.courtCode)).description
                            }
                        } if mode == 'amend' and courts.length > 1
                    ]
                }) }}

                {% if courts.length === 1 %}
                    <input type="hidden" name="courtCode" value="{{ courts[0].code }}" />
                {% elseif mode === 'amend' %}
                    <input type="hidden" name="courtCode" value="{{ session.journey.bookACourtHearing.courtCode }}" />
                {% else %}
                    {% set items = [{ text: "Select court", value: "" }] %}
                    {% for court in courts %}
                        {% set items = (items.push({
                            value: court.code,
                            text: court.description,
                            selected: formResponses.courtCode == court.code or session.journey.bookACourtHearing.courtCode == court.code
                        }), items) %}
                    {% endfor %}

                    {{ govukSelect({
                        name: "courtCode",
                        id: "courtCode",
                        label: {
                            text: "Select the court the hearing is for",
                            classes: 'govuk-label--s'
                        },
                        items: items,
                        errorMessage: validationErrors | findError("courtCode"),
                        classes: "govuk-!-width-one-third"
                    }) }}
                {% endif %}

                {% set items = [{ text: "Select hearing type", value: "" }] %}
                {% for hearingType in hearingTypes %}
                    {% set items = (items.push({
                        value: hearingType.code,
                        text: hearingType.description,
                        selected: formResponses.hearingTypeCode == hearingType.code or session.journey.bookACourtHearing.hearingTypeCode == hearingType.code
                    }), items) %}
                {% endfor %}

                {{ govukSelect({
                    name: "hearingTypeCode",
                    id: "hearingTypeCode",
                    label: {
                        text: "Select the court hearing type",
                        classes: 'govuk-label--s'
                    },
                    items: items,
                    errorMessage: validationErrors | findError("hearingTypeCode"),
                    classes: "govuk-!-width-one-third"
                }) }}

                {% set courtHearingLinkHtml %}
                    {% if hmctsLinkAndGuestPin %}
                        {{ govukInput({
                            id: "hmctsNumber",
                            name: "hmctsNumber",
                            label: {
                                text: "Enter number from CVP address",
                                classes: 'govuk-label--s'
                            },
                            hint: {
                                text: "For example 3476"
                            },
                            prefix: {
                                text: "HMCTS",
                                classes: 'govuk-label--s'
                            },
                            inputmode: "numeric",
                            classes: 'govuk-input--width-5',
                            errorMessage: validationErrors | findError('hmctsNumber'),
                            value: formResponses.hmctsNumber or session.journey.bookACourtHearing.hmctsNumber
                        }) }}

                        <p>Or</p>

                        {{ govukInput({
                            id: "videoLinkUrl",
                            name: "videoLinkUrl",
                            label: {
                                text: "Enter full web address (URL)",
                                classes: 'govuk-label--s'
                            },
                            classes: 'govuk-!-width-three-quarters',
                            errorMessage: validationErrors | findError('videoLinkUrl'),
                            value: formResponses.videoLinkUrl or session.journey.bookACourtHearing.videoLinkUrl
                        }) }}
                    {% else %}
                        {{ govukInput({
                            id: "videoLinkUrl",
                            name: "videoLinkUrl",
                            label: {
                                text: "Court hearing link",
                                classes: 'govuk-label--s'
                            },
                            classes: 'govuk-!-width-three-quarters',
                            errorMessage: validationErrors | findError('videoLinkUrl'),
                            value: formResponses.videoLinkUrl or session.journey.bookACourtHearing.videoLinkUrl
                        }) }}
                    {% endif %}
                {% endset %}

                {% set guestPinHtml %}
                    {{ govukInput({
                        id: "guestPin",
                        name: "guestPin",
                        label: {
                            text: "Enter guest pin",
                            classes: 'govuk-label--s'
                        },
                        hint: {
                          text: "Some meetings require a guest pin for security reasons"
                        },
                        inputmode: "numeric",
                        classes: 'govuk-input--width-10',
                        errorMessage: validationErrors | findError('guestPin'),
                        value: formResponses.guestPin or session.journey.bookACourtHearing.guestPin
                    }) }}
                {% endset %}

                {{ govukRadios({
                    idPrefix: "cvpRequired",
                    name: "cvpRequired",
                    errorMessage: validationErrors | findError('cvpRequired'),
                    fieldset: {
                        legend: {
                            text: "Do you know the link for this video link hearing?",
                            classes: "govuk-fieldset__legend--s"
                        }
                    },
                    items: [
                        {
                            value: 'yes',
                            text: "Yes",
                            checked: formResponses.cvpRequired == 'yes' or session.journey.bookACourtHearing.videoLinkUrl or (session.journey.bookACourtHearing.hmctsNumber and hmctsLinkAndGuestPin),
                            conditional: {
                                html: courtHearingLinkHtml
                            }
                        },
                        {
                            value: 'no',
                            text: "No",
                            checked: formResponses.cvpRequired == 'no' or (session.journey.bookACourtHearing.cvpRequired == false and not formResponses)
                        }
                    ]
                }) }}

                {% if hmctsLinkAndGuestPin %}
                    {{ govukRadios({
                        idPrefix: "guestPinRequired",
                        name: "guestPinRequired",
                        errorMessage: validationErrors | findError('guestPinRequired'),
                        fieldset: {
                            legend: {
                                text: "Is a guest pin required for this video link hearing?",
                                classes: "govuk-fieldset__legend--s"
                            }
                        },
                        items: [
                            {
                                value: 'yes',
                                text: "Yes",
                                checked: formResponses.guestPinRequired == 'yes' or session.journey.bookACourtHearing.guestPin,
                                conditional: {
                                html: guestPinHtml
                            }
                            },
                            {
                                value: 'no',
                                text: "No",
                                checked: formResponses.guestPinRequired == 'no' or (session.journey.bookACourtHearing.guestPinRequired == false and not formResponses)
                            }
                        ]
                    }) }}
                {% endif %}

                {{ mojDatePicker({
                    id: 'date',
                    name: 'date',
                    label: {
                        text: "Date",
                        classes: 'govuk-label--s'
                    },
                    hint: {
                        text: 'Date example, ' + exampleDatePickerDate()
                    },
                    errorMessage: validationErrors | findError('date'),
                    value: formResponses.date or session.journey.bookACourtHearing.date | formatDate('dd/MM/yyyy')
                }) }}

                <div class="govuk-grid-row govuk-body govuk-label--s">
                    <span class="govuk-grid-column-three-quarters">Select meeting times</span>
                </div>

                {{ hmppsTimePicker({
                    id: 'startTime',
                    name: 'startTime',
                    label: {
                        text: 'Start time'
                    },
                    errorMessage: validationErrors | findError('startTime'),
                    formResponses: formResponses.startTime or session.journey.bookACourtHearing.startTime
                }) }}

                {{ hmppsTimePicker({
                    id: 'endTime',
                    name: 'endTime',
                    label: {
                        text: 'End time'
                    },
                    errorMessage: validationErrors | findError('endTime'),
                    formResponses: formResponses.endTime or session.journey.bookACourtHearing.endTime
                }) }}

                {{ govukRadios({
                    idPrefix: "preRequired",
                    name: "preRequired",
                    errorMessage: validationErrors | findError('preRequired'),
                    fieldset: {
                        legend: {
                            text: "Do you want to add a pre-court hearing briefing?",
                            classes: "govuk-fieldset__legend--s"
                        }
                    },
                    items: [
                        {
                            value: "yes",
                            text: "Yes",
                            checked: formResponses.preRequired == 'yes' or (session.journey.bookACourtHearing.preHearingStartTime and not formResponses.preRequired)
                        },
                        {
                            value: "no",
                            text: "No",
                            checked: formResponses.preRequired == 'no' or (session.journey.bookACourtHearing.startTime and not session.journey.bookACourtHearing.preHearingStartTime and not formResponses.preRequired)
                        }
                    ]
                }) }}

                {{ govukRadios({
                    idPrefix: "postRequired",
                    name: "postRequired",
                    errorMessage: validationErrors | findError('postRequired'),
                    fieldset: {
                        legend: {
                            text: "Do you want to add a post-court hearing briefing?",
                            classes: "govuk-fieldset__legend--s"
                        }
                    },
                    items: [
                        {
                            value: "yes",
                            text: "Yes",
                            checked: formResponses.postRequired == 'yes' or (session.journey.bookACourtHearing.postHearingStartTime and not formResponses.postRequired)
                        },
                        {
                            value: "no",
                            text: "No",
                            checked: formResponses.postRequired == 'no' or (session.journey.bookACourtHearing.startTime and not session.journey.bookACourtHearing.postHearingStartTime and not formResponses.postRequired)
                        }
                    ]
                }) }}

                {# Optional notes for staff - feature switched #}
                {% if masterPublicPrivateNotes %}
                    {{ govukCharacterCount({
                        name: "notesForStaff",
                        id: "notesForStaff",
                        maxlength: 400,
                        label: {
                            text: "Notes for prison staff (optional)",
                            classes: 'govuk-fieldset__legend--s'
                        },
                        hint: { text: "This can include case number, co-defendant details if this is a multi-hander case, interpreter, or solicitor's details." },
                        formGroup: {
                            classes: 'govuk-!-width-two-thirds'
                        },
                        errorMessage: validationErrors | findError('notesForStaff'),
                        value: formResponses.notesForStaff or session.journey.bookACourtHearing.notesForStaff
                    }) }}
                {% endif %}

                {{ govukButton({
                    text: "Continue",
                    type: "submit"
                }) }}

            </form>

            {% if mode == 'amend' %}
                <a href="/court/view-booking/{{ session.journey.bookACourtHearing.bookingId }}" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">Cancel</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
