{% extends "partials/layout.njk" %}

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "partials/formatCvpLink.njk" import formatCvpLink %}

{% set mode = session.req.params.mode %}
{% set pageTitle = "Check and confirm your request" if mode == 'request' else "Check and confirm your booking" %}

{% block content %}
    {% if warnPrison %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% set html %}
                    <p class="govuk-notification-banner__heading">Contact the prison to discuss before proceeding</p>
                    <p class="govuk-body">
                        New bookings or updates made after 3pm for the next day must be checked and agreed with the prison.
                        Same day bookings or updates should not be made in this service.
                        Please contact the prison for advice.
                    </p>
                {% endset %}

                {{ govukNotificationBanner({ html: html, attributes: {"data-qa": 'discuss-before-proceeding'} }) }}
            </div>
        </div>
    {% endif %}

    {% if mode == 'request' %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% set html %}
                    <p class="govuk-notification-banner__heading">Pending approval by {{ prisoner.prisonName }}</p>
                    <p class="govuk-body">
                        By confirming this request, you will be asking {{ prisoner.prisonName }} to complete the booking on your behalf. This is not a completed booking at this stage.
                    </p>
                {% endset %}

                {{ govukNotificationBanner({ html: html, attributes: {"data-qa": 'pending-prison-approval'} }) }}
            </div>
        </div>
    {% endif %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukSummaryList({
                rows: [
                    {
                        key: {
                            text: "Name"
                        },
                        value: {
                            text: ((prisoner.firstName + " " + prisoner.lastName) | convertToTitleCase) + ((' (' + prisoner.prisonerNumber + ')') if prisoner.prisonerNumber)
                        },
                        actions: {
                            items: [
                                {
                                    href: "/court/prisoner-search/search",
                                    classes: 'govuk-link--no-visited-state',
                                    text: "Change"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Date of birth"
                        },
                        value: {
                            text: prisoner.dateOfBirth | formatDate
                        }
                    } if mode == 'request',
                    {
                        key: {
                            text: "Prison"
                        },
                        value: {
                            text: prisoner.prisonName
                        }
                    },
                    {
                        key: {
                            text: "Court"
                        },
                        value: {
                            text: (courts | find('code', session.journey.bookACourtHearing.courtCode)).description
                        }
                    },
                    {
                        key: {
                            text: "Hearing type"
                        },
                        value: {
                            text: (hearingTypes | find('code', session.journey.bookACourtHearing.hearingTypeCode)).description
                        },
                        actions: {
                            items: [
                                {
                                    href: "../video-link-booking#hearingTypeCode",
                                    classes: 'govuk-link--no-visited-state',
                                    text: "Change"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Date"
                        },
                        value: {
                            text: session.journey.bookACourtHearing.date | formatDate
                        },
                        actions: {
                            items: [
                                {
                                    href: "../video-link-booking#date",
                                    classes: 'govuk-link--no-visited-state',
                                    text: "Change"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Pre-court hearing time"
                        },
                        value: {
                            text: session.journey.bookACourtHearing.preHearingStartTime | formatDate('HH:mm') + " to " + session.journey.bookACourtHearing.preHearingEndTime | formatDate('HH:mm')
                        }
                    } if session.journey.bookACourtHearing.preHearingStartTime,
                    {
                        key: {
                            text: "Pre-court hearing room"
                        },
                        value: {
                            text: (rooms | find('key', session.journey.bookACourtHearing.preLocationCode)).description
                        },
                        actions: {
                            items: [
                                {
                                    href: "../video-link-booking/select-rooms#preLocation",
                                    classes: 'govuk-link--no-visited-state',
                                    text: "Change"
                                }
                            ]
                        }
                    } if session.journey.bookACourtHearing.preLocationCode,
                    {
                        key: {
                            text: "Pre-court hearing link (PVL)"
                        },
                        value: {
                            text: (rooms | find('key', session.journey.bookACourtHearing.preLocationCode)).extraAttributes.prisonVideoUrl or "Not yet known"
                        }
                    } if session.journey.bookACourtHearing.preLocationCode,
                    {
                        key: {
                            text: "Court hearing time"
                        },
                        value: {
                            text: session.journey.bookACourtHearing.startTime | formatDate('HH:mm') + " to " + session.journey.bookACourtHearing.endTime | formatDate('HH:mm')
                        },
                        actions: {
                            items: [
                                {
                                    href: "../video-link-booking#startTime",
                                    classes: 'govuk-link--no-visited-state',
                                    text: "Change"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Court hearing room"
                        },
                        value: {
                            text: (rooms | find('key', session.journey.bookACourtHearing.locationCode)).description
                        },
                        actions: {
                            items: [
                                {
                                    href: "../video-link-booking/select-rooms#location",
                                    classes: 'govuk-link--no-visited-state',
                                    text: "Change"
                                }
                            ]
                        }
                    } if mode != 'request',
                    {
                        key: {
                            text: "Court hearing link (CVP)"
                        },
                        value: {
                            text: formatCvpLink(session.journey.bookACourtHearing.hmctsNumber, session.journey.bookACourtHearing.videoLinkUrl, hmctsLinkAndGuestPin)
                        },
                        actions: {
                            items: [
                                {
                                    href: "../video-link-booking#cvpRequired",
                                    classes: 'govuk-link--no-visited-state',
                                    text: "Change"
                                }
                            ]
                        }
                    } if mode != request,
                    {
                        key: {
                            text: "Guest pin"
                        },
                        value: {
                            text: session.journey.bookACourtHearing.guestPin or "Not required"
                        },
                        actions: {
                        items: [
                            {
                                href: "../video-link-booking#guestPinRequired",
                                classes: 'govuk-link--no-visited-state',
                                text: "Change"
                            }
                        ]
                    }
                    } if mode != request and hmctsLinkAndGuestPin,
                    {
                        key: {
                            text: "Post-court hearing time"
                        },
                        value: {
                            text: session.journey.bookACourtHearing.postHearingStartTime | formatDate('HH:mm') + " to " + session.journey.bookACourtHearing.postHearingEndTime | formatDate('HH:mm')
                        }
                    } if session.journey.bookACourtHearing.postHearingStartTime,
                    {
                        key: {
                            text: "Post-court hearing room"
                        },
                        value: {
                            text: (rooms | find('key', session.journey.bookACourtHearing.postLocationCode)).description
                        },
                        actions: {
                            items: [
                                {
                                    href: "../video-link-booking/select-rooms#postLocation",
                                    classes: 'govuk-link--no-visited-state',
                                    text: "Change"
                                }
                            ]
                        }
                    } if session.journey.bookACourtHearing.postLocationCode,
                    {
                        key: {
                            text: "Post-court hearing link (PVL)"
                        },
                        value: {
                            text: (rooms | find('key', session.journey.bookACourtHearing.postLocationCode)).extraAttributes.prisonVideoUrl or "Not yet known"
                        }
                    } if session.journey.bookACourtHearing.postLocationCode,
                    {
                        key: {
                            text: "Notes for prison staff"
                        },
                        value: {
                            text: session.journey.bookACourtHearing.notesForStaff or "None entered"
                        },
                        actions: {
                            items: [
                                {
                                    href: "../video-link-booking#notesForStaff",
                                    classes: 'govuk-link--no-visited-state',
                                    text: "Change"
                                }
                            ]
                        }
                    } if masterPublicPrivateNotes
                ],
                attributes:{ 'data-qa': 'booking-details' }
            }) }}

            {% set spinnerText %}
                {% if mode == 'create' %}
                    Booking video link
                {% elif mode == 'request' %}
                    Requesting video link
                {% else %}
                    Updating booking
                {% endif %}
            {% endset %}

            <form method="POST" class="govuk-!-margin-top-6" data-module="form-spinner" data-loading-text="{{ spinnerText }}">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {# Optional comments - feature switched #}
                {% if not masterPublicPrivateNotes %}
                    {{ govukCharacterCount({
                        name: "comments",
                        id: "comments",
                        maxlength: 400,
                        label: {
                            text: "Comments (optional)"
                        },
                        formGroup: {
                            classes: 'govuk-!-width-two-thirds'
                        },
                        errorMessage: validationErrors | findError('comments'),
                        value: formResponses.comments or session.journey.bookACourtHearing.comments
                    }) }}
                {% endif %}

                {% set callToActionText %}
                    {% if mode == 'create' %}
                        Book video link
                    {% elif mode == 'request' %}
                       Request video link
                    {% else %}
                        Update booking
                    {% endif %}
                {% endset %}

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: callToActionText,
                        preventDoubleClick: true,
                        type: 'submit'
                    }) }}

                    <a href='../video-link-booking' class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">{{ 'Change request' if mode == 'request' else 'Change booking' }}</a>
                </div>

                {% if mode == 'amend' %}
                    <a href="/court/view-booking/{{ session.journey.bookACourtHearing.bookingId }}" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">Cancel</a>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
