{% extends "partials/layout.njk" %}

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% set mode = session.req.params.mode %}
{% set pageTitle = "Check and confirm your request" if mode == 'request' else "Check and confirm your booking" %}

{% block content %}
    {% if warnPrison %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                {% set html %}
                    <p class="govuk-notification-banner__heading">Contact the prison to discuss before proceeding</p>
                    <p class="govuk-body">
                        New bookings or updates made after 3pm for the next day must be checked and agreed with the prison.
                        Same day bookings or updates should not be made in this service.
                        Please contact the prison for advice.
                    </p>
                {% endset %}

                {{ govukNotificationBanner({ html: html, attributes: {"data-qa": 'discuss-before-proceeding'} }) }}
            </div>
        </div>
    {% endif %}

    {% if mode == 'request' %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                {% set html %}
                    <p class="govuk-notification-banner__heading">Pending approval by {{ prisoner.prisonName }}</p>
                    <p class="govuk-body">
                        By confirming this request, you will be asking {{ prisoner.prisonName }} to complete the booking on your behalf. This is not a completed booking at this stage.
                    </p>
                {% endset %}

                {{ govukNotificationBanner({ html: html, attributes: {"data-qa": 'pending-prison-approval'} }) }}
            </div>
        </div>
    {% endif %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            {{ govukSummaryList({
                rows: [
                    {
                        key: {
                            text: "Name"
                        },
                        value: {
                            text: ((prisoner.firstName + " " + prisoner.lastName) | convertToTitleCase) + ((' (' + prisoner.prisonerNumber + ')') if prisoner.prisonerNumber)
                        }
                    },
                    {
                        key: {
                            text: "Date of birth"
                        },
                        value: {
                            text: prisoner.dateOfBirth | formatDate
                        }
                    } if mode == 'request',
                    {
                        key: {
                            text: "Prison"
                        },
                        value: {
                            text: prisoner.prisonName
                        }
                    },
                    {
                        key: {
                            text: "Court" if session.req.params.type == BavlJourneyType.COURT else "Probation team"
                        },
                        value: {
                            text: (agencies | find('code', session.journey.bookAVideoLink.agencyCode)).description
                        }
                    },
                    {
                        key: {
                            text: "Hearing type" if session.req.params.type == BavlJourneyType.COURT else "Meeting type"
                        },
                        value: {
                            text: (hearingTypes | find('code', session.journey.bookAVideoLink.hearingTypeCode)).description
                        }
                    },
                    {
                        key: {
                            text: "Prison room for court hearing" if session.req.params.type == BavlJourneyType.COURT else "Prison room for probation meeting"
                        },
                        value: {
                            text: (rooms | find('key', session.journey.bookAVideoLink.locationCode)).description
                        }
                    },
                    {
                        key: {
                            text: "Date"
                        },
                        value: {
                            text: session.journey.bookAVideoLink.date | formatDate
                        }
                    },
                    {
                        key: {
                            text: "Hearing start time" if session.req.params.type == BavlJourneyType.COURT else "Meeting start time"
                        },
                        value: {
                            text: session.journey.bookAVideoLink.startTime | formatDate('HH:mm')
                        }
                    },
                    {
                        key: {
                            text: "Hearing end time" if session.req.params.type == BavlJourneyType.COURT else "Meeting end time"
                        },
                        value: {
                            text: session.journey.bookAVideoLink.endTime | formatDate('HH:mm')
                        }
                    },
                    {
                        key: {
                            text: "Pre-court hearing"
                        },
                        value: {
                            text: (rooms | find('key', session.journey.bookAVideoLink.preLocationCode)).description + " - " +  session.journey.bookAVideoLink.preHearingStartTime | formatDate('HH:mm') + " to " + session.journey.bookAVideoLink.preHearingEndTime | formatDate('HH:mm')
                        }
                    } if session.journey.bookAVideoLink.preLocationCode,
                    {
                        key: {
                            text: "Post-court hearing"
                        },
                        value: {
                            text: (rooms | find('key', session.journey.bookAVideoLink.postLocationCode)).description + " - " +  session.journey.bookAVideoLink.postHearingStartTime | formatDate('HH:mm') + " to " + session.journey.bookAVideoLink.postHearingEndTime | formatDate('HH:mm')
                        }
                    } if session.journey.bookAVideoLink.postLocationCode,
                    {
                        key: {
                            text: "Court hearing link"
                        },
                        value: {
                            text: session.journey.bookAVideoLink.videoLinkUrl or "Not yet known"
                        }
                    } if session.req.params.type == BavlJourneyType.COURT
                ]
            }) }}

            {% set spinnerText %}
                {% if mode == 'create' %}
                    Booking video link
                {% elif mode == 'request' %}
                    Requesting video link
                {% else %}
                    Updating booking
                {% endif %}
            {% endset %}
            <form method="POST" class="govuk-!-margin-top-6" data-module="form-spinner" data-loading-text="{{ spinnerText }}">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukCharacterCount({
                    name: "comments",
                    id: "comments",
                    maxlength: 400,
                    label: {
                        text: "Comments (optional)"
                    },
                    hint: {
                        text: "This might include case number, co-defendant details if this is a multi-handed case, or details of the approver if you have borrowed another court’s room." if session.req.params.type == BavlJourneyType.COURT else "This should include Probation Officer’s full name, contact information, and any other additional details."
                    },
                    errorMessage: validationErrors | findError('comments'),
                    value: formResponses.comments or session.journey.bookAVideoLink.comments
                }) }}

                {% set callToActionText %}
                    {% if mode == 'create' %}
                        Book video link
                    {% elif mode == 'request' %}
                       Request video link
                    {% else %}
                        Update booking
                    {% endif %}
                {% endset %}

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: callToActionText,
                        preventDoubleClick: true,
                        type: 'submit'
                    }) }}

                    <a href='../video-link-booking' class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">{{ 'Change request' if mode == 'request' else 'Change booking' }}</a>
                </div>

                {% if mode == 'create' or mode == 'request' %}
                    <a href="../../../../create/prisoner-search" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">Return to prisoner search</a>
                {% else %}
                    <a href="/{{ session.req.params.type }}/view-booking/{{ session.journey.bookAVideoLink.bookingId }}" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">Cancel</a>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
