{% extends "partials/layout.njk" %}

{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Change comments on this booking" if session.journey.bookACourtHearing.comments else "Add comments on this booking" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <form method="POST" action='check-booking' data-module="form-spinner" data-loading-text="Updating comments">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukCharacterCount({
                    name: "comments",
                    id: "comments",
                    maxlength: 400,
                    label: { text: "Comments (optional)" },
                    hint: { text: "This might include the hearing number, co-defendant details if this is a multi-handed case, or whether you borrowed another court's room." },
                    value: session.journey.bookACourtHearing.comments
                }) }}

                {{ govukButton({
                    text: "Continue",
                    preventDoubleClick: true,
                    type: "submit"
                }) }}
            </form>

            <a href="/court/view-booking/{{ session.journey.bookACourtHearing.bookingId }}" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" data-qa='cancel-link'>Cancel</a>
        </div>
    </div>
{% endblock %}
