{% extends "partials/layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/formatCvpLink.njk" import formatCvpLink %}

{% set mode = session.req.routeContext.mode %}
{% set pageTitle = "The video link has been booked" if mode == 'create' else 'The video link booking has been updated' %}
{% set hideBackLink = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({ titleText: pageTitle, classes: 'govuk-!-margin-bottom-6' }) }}

            <p class='govuk-body'>We have emailed you with the video link details. An email has also been sent to the prison.</p>

            <h2 class='govuk-heading-m'>Video link details</h2>
            {{ govukSummaryList({
                rows: [
                    {
                        key: {
                            text: "Name"
                        },
                        value: {
                            text: ((prisoner.firstName + " " + prisoner.lastName) | convertToTitleCase) + ' (' + prisoner.prisonerNumber + ')'
                        }
                    },
                    {
                        key: {
                            text: "Prison"
                        },
                        value: {
                            text: prison.name
                        }
                    },
                    {
                        key: {
                            text: "Court"
                        },
                        value: {
                            text: booking.courtDescription
                        }
                    },
                    {
                        key: {
                            text: "Hearing type"
                        },
                        value: {
                            text: booking.courtHearingTypeDescription
                        }
                    },
                    {
                        key: {
                            text: "Date"
                        },
                        value: {
                            text: (booking.prisonAppointments | find('appointmentType', 'VLB_COURT_MAIN')).appointmentDate | formatDate
                        }
                    },
                    {
                        key: {
                            text: "Pre-court hearing time"
                        },
                        value: {
                            text: (booking.prisonAppointments | find('appointmentType', 'VLB_COURT_PRE')).startTime + " to " + (booking.prisonAppointments | find('appointmentType', 'VLB_COURT_PRE')).endTime
                        }
                    } if booking.prisonAppointments | find('appointmentType', 'VLB_COURT_PRE'),
                    {
                        key: {
                            text: "Pre-court hearing room"
                        },
                        value: {
                            text: (rooms | find('key', (booking.prisonAppointments | find('appointmentType', 'VLB_COURT_PRE')).prisonLocKey)).description
                        }
                    } if booking.prisonAppointments | find('appointmentType', 'VLB_COURT_PRE'),
                    {
                        key: {
                            text: "Pre-court hearing link (PVL)"
                        },
                        value: {
                            text: (rooms | find('key', (booking.prisonAppointments | find('appointmentType', 'VLB_COURT_PRE')).prisonLocKey)).extraAttributes.prisonVideoUrl or "Not yet known"
                        }
                    } if booking.prisonAppointments | find('appointmentType', 'VLB_COURT_PRE'),
                    {
                        key: {
                            text: "Court hearing time"
                        },
                        value: {
                            text: (booking.prisonAppointments | find('appointmentType', 'VLB_COURT_MAIN')).startTime + " to " + (booking.prisonAppointments | find('appointmentType', 'VLB_COURT_MAIN')).endTime
                        }
                    },
                    {
                        key: {
                            text: "Court hearing room"
                        },
                        value: {
                            text: (rooms | find('key', (booking.prisonAppointments | find('appointmentType', 'VLB_COURT_MAIN')).prisonLocKey)).description
                        }
                    },
                    {
                        key: {
                            text: "Court hearing link (CVP)"
                        },
                        value: {
                            text: formatCvpLink(booking.hmctsNumber, booking.videoLinkUrl)
                        }
                    },
                    {
                        key: {
                            text: "Guest pin"
                        },
                        value: {
                            text: booking.guestPin or "Not required"
                        }
                    },
                    {
                        key: {
                            text: "Post-court hearing time"
                        },
                        value: {
                            text: (booking.prisonAppointments | find('appointmentType', 'VLB_COURT_POST')).startTime + " to " + (booking.prisonAppointments | find('appointmentType', 'VLB_COURT_POST')).endTime
                        }
                    } if booking.prisonAppointments | find('appointmentType', 'VLB_COURT_POST'),
                    {
                        key: {
                            text: "Post-court hearing room"
                        },
                        value: {
                            text: (rooms | find('key', (booking.prisonAppointments | find('appointmentType', 'VLB_COURT_POST')).prisonLocKey)).description
                        }
                    } if booking.prisonAppointments | find('appointmentType', 'VLB_COURT_POST'),
                    {
                        key: {
                            text: "Post-court hearing link (PVL)"
                        },
                        value: {
                            text: (rooms | find('key', (booking.prisonAppointments | find('appointmentType', 'VLB_COURT_POST')).prisonLocKey)).extraAttributes.prisonVideoUrl or "Not yet known"
                        }
                    } if booking.prisonAppointments | find('appointmentType', 'VLB_COURT_POST'),
                    {
                        key: {
                            text: "Notes for prison staff"
                        },
                        value: {
                            text: booking.notesForStaff or "None entered"
                        }
                    }
                ],
                attributes: { 'data-qa': 'confirmation-details' }
            }) }}

            <div class="govuk-button-group">
                {% if mode == 'create' %}
                    {{ govukButton({ text: "Exit to main menu", href: '/' }) }}
                    <a href='/court/prisoner-search/search' class="govuk-link govuk-link--no-visited-state" data-qa='bookAnotherLink'>Book another video link</a>
                {% else %}
                    {{ govukButton({ text: "Return to booking", href: '/court/view-booking/' + booking.videoLinkBookingId }) }}
                    {% if viewMultipleAgenciesBookings %}
                        {% set searchParams = session.journey.viewMultipleAgencyBookingsJourney | toViewBookingsSearchParams %}
                        <a href='/court/view-booking?{{ searchParams }}' class="govuk-link govuk-link--no-visited-state" data-qa='exit-to-all-bookings-link'>Exit to all video link bookings</a>
                    {% else %}
                        <a href='/court/view-booking?date={{ originalBookingDate }}&agencyCode={{ booking.courtCode }}' class="govuk-link govuk-link--no-visited-state" data-qa='exit-to-all-bookings-link'>Exit to all video link bookings</a>
                   {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
