{% extends "partials/layout.njk" %}

{% from "components/hmppsTimePicker.njk" import hmppsTimePicker %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set mode = session.req.params.mode %}
{% set pageTitle = 'No bookings available for your selected time' %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
            <p>
                Change the time to view available bookings on your selected date.
            </p>
        </div>

    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            {{ govukSummaryList({
                classes: "govuk-summary-list--no-border",
                rows: [
                    {
                        key: {
                            text: "Prison"
                        },
                        value: {
                            text: session.journey.bookACourtHearing.prisoner.prisonName
                        }
                    },
                    {
                        key: {
                            text: "Court"
                        },
                        value: {
                            text: (courts | find('code', session.journey.bookACourtHearing.courtCode)).description
                        }
                    },
                    {
                        key: {
                            text: "Date"
                        },
                        value: {
                            text: session.journey.bookACourtHearing.date | formatDate('dd/MM/yyyy')
                        }
                    },
                    {
                        key: {
                            text: "Pre-court hearing briefing time"
                        },
                        value: {
                            text: session.journey.bookACourtHearing.preHearingStartTime | formatDate('HH:mm') + ' to ' + session.journey.bookACourtHearing.preHearingEndTime | formatDate('HH:mm')
                        }
                    } if session.journey.bookACourtHearing.preHearingStartTime,
                    {
                        key: {
                            text: "Hearing time"
                        },
                        value: {
                            text: session.journey.bookACourtHearing.startTime | formatDate('HH:mm') + ' to ' + session.journey.bookACourtHearing.endTime | formatDate('HH:mm')
                        }
                    },
                    {
                        key: {
                            text: "Post-court hearing briefing time"
                        },
                        value: {
                            text: session.journey.bookACourtHearing.postHearingStartTime | formatDate('HH:mm') + ' to ' + session.journey.bookACourtHearing.postHearingEndTime | formatDate('HH:mm')
                        }
                    } if session.journey.bookACourtHearing.postHearingStartTime
                ],
                attributes: { 'data-qa': 'booking-details' }
            }) }}

            <div class="govuk-button-group">
                {{ govukButton({
                    classes: 'govuk-button--blue',
                    text: "Change times",
                    href: "../video-link-booking"
                }) }}
            </div>

            {% if mode == 'create' or mode == 'request' %}
                <a href="../../../../../prisoner-search/search" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">Return to prisoner search</a>
            {% else %}
                <a href="/court/view-booking/{{ session.journey.bookACourtHearing.bookingId }}" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">Cancel</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
