{% extends "partials/layout.njk" %}

{% from "components/hmppsTimePicker.njk" import hmppsTimePicker %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set mode = session.req.params.mode %}
{% set prisonerName = ((session.journey.bookACourtHearing.prisoner.firstName + " " + session.journey.bookACourtHearing.prisoner.lastName) | convertToTitleCase) %}
{% set pageTitle = "Select rooms for " + prisonerName + "'s court hearings" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <form method='POST'>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukSummaryList({
                    classes: "govuk-summary-list--no-border",
                    rows: [
                        {
                            key: {
                                text: "Prison"
                            },
                            value: {
                                text: session.journey.bookACourtHearing.prisoner.prisonName
                            }
                        },
                        {
                            key: {
                                text: "Court"
                            },
                            value: {
                                text: (courts | find('code', session.journey.bookACourtHearing.courtCode)).description
                            }
                        },
                        {
                            key: {
                                text: "Date"
                            },
                            value: {
                                text: session.journey.bookACourtHearing.date | formatDate('dd/MM/yyyy')
                            }
                        },
                        {
                            key: {
                                text: "Pre-court hearing briefing time"
                            },
                            value: {
                                text: session.journey.bookACourtHearing.preHearingStartTime | formatDate('HH:mm') + ' to ' + session.journey.bookACourtHearing.preHearingEndTime | formatDate('HH:mm')
                            }
                        } if session.journey.bookACourtHearing.preHearingStartTime,
                        {
                            key: {
                                text: "Hearing time"
                            },
                            value: {
                                text: session.journey.bookACourtHearing.startTime | formatDate('HH:mm') + ' to ' + session.journey.bookACourtHearing.endTime | formatDate('HH:mm')
                            }
                        },
                        {
                            key: {
                                text: "Post-court hearing briefing time"
                            },
                            value: {
                                text: session.journey.bookACourtHearing.postHearingStartTime | formatDate('HH:mm') + ' to ' + session.journey.bookACourtHearing.postHearingEndTime | formatDate('HH:mm')
                            }
                        } if session.journey.bookACourtHearing.postHearingStartTime
                    ]
                }) }}

                <div class="govuk-!-margin-top-0 govuk-!-margin-bottom-6">
                    <a href="../video-link-booking" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">Change</a>
                </div>

                {% if session.journey.bookACourtHearing.preHearingStartTime  %}
                    {% set items = [] %}
                    {% for room in preLocations %}
                        {% set items = (items.push({
                            value: room.dpsLocationKey,
                            text: room.name,
                            selected: formResponses.preLocation == room.dpsLocationKey or session.journey.bookACourtHearing.preLocationCode == room.dpsLocationKey
                        }), items) %}
                    {% endfor %}

                    {{ govukSelect({
                        name: "preLocation",
                        id: "preLocation",
                        label: {
                            text: "Select room for pre-court hearing briefing",
                            classes: 'govuk-label--s'
                        },
                        items: items,
                        errorMessage: validationErrors | findError("preLocation"),
                        classes: "govuk-!-width-two-thirds"
                    }) }}
                {% endif %}

                {% set items = [] %}
                {% for room in mainLocations %}
                    {% set items = (items.push({
                        value: room.dpsLocationKey,
                        text: room.name,
                        selected: formResponses.location == room.dpsLocationKey or session.journey.bookACourtHearing.locationCode == room.dpsLocationKey
                    }), items) %}
                {% endfor %}

                {{ govukSelect({
                    name: "location",
                    id: "location",
                    label: {
                        text: "Select room for court hearing",
                        classes: 'govuk-label--s'
                    },
                    items: items,
                    errorMessage: validationErrors | findError("location"),
                    classes: "govuk-!-width-two-thirds"
                }) }}

                {% if session.journey.bookACourtHearing.postHearingStartTime %}
                    {% set items = [] %}
                    {% for room in postLocations %}
                        {% set items = (items.push({
                            value: room.dpsLocationKey,
                            text: room.name,
                            selected: formResponses.postLocation == room.dpsLocationKey or session.journey.bookACourtHearing.postLocationCode == room.dpsLocationKey
                        }), items) %}
                    {% endfor %}

                    {{ govukSelect({
                        name: "postLocation",
                        id: "postLocation",
                        label: {
                            text:  "Select room for post-court hearing briefing",
                            classes: 'govuk-label--s'
                        },
                        items: items,
                        errorMessage: validationErrors | findError("postLocation"),
                        classes: "govuk-!-width-two-thirds"
                    }) }}
                {% endif %}

                {{ govukButton({
                    text: "Continue",
                    type: "submit"
                }) }}
            </form>

            {% if mode == 'amend' %}
                <a href="/court/view-booking/{{ session.journey.bookACourtHearing.bookingId }}" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">Cancel</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
