{% extends "partials/layout.njk" %}

{% from "moj/components/alert/macro.njk" import mojAlert %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set alternativeSlots = availableSlots.length > 0 %}
{% set noBookings = not (alternativeSlots) %}

{% set pageTitle = "No bookings available for your selected time" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
        </div>
    </div>

    {% if alternativeSlots %}
        <h3 class="govuk-heading-m">Your preferred slot</h3>
    {% endif %}

    {% if noBookings %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                {{ mojAlert({
                    variant: "information",
                    title: "No bookings available",
                    dismissible: false,
                    text: 'There are no more bookings available for court hearings on the date you selected. You will need to change the date.'
                }) }}
            </div>
        </div>
    {% endif %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            {{ govukTable({
                rows: [
                    [
                        {
                            text: "Date"
                        },
                        {
                            text: session.journey.bookACourtHearing.date | formatDate('dd MMMM yyyy')
                        }
                    ],
                    [
                        {
                            text: "Pre-court hearing time"
                        },
                        {
                            text: session.journey.bookACourtHearing.initialPreHearingStartTime | formatDate('HH:mm')  + ' to ' + session.journey.bookACourtHearing.initialPreHearingEndTime | formatDate('HH:mm')
                        }
                    ] if session.journey.bookACourtHearing.preHearingStartTime,
                    [
                        {
                            text: "Hearing time"
                        },
                        {
                            text: session.journey.bookACourtHearing.initialStartTime | formatDate('HH:mm')  + ' to ' + session.journey.bookACourtHearing.initialEndTime | formatDate('HH:mm')
                        }
                    ],
                    [
                        {
                            text: "Post-court hearing time"
                        },
                        {
                            text: session.journey.bookACourtHearing.initialPostHearingStartTime | formatDate('HH:mm')  + ' to ' + session.journey.bookACourtHearing.initialPostHearingEndTime | formatDate('HH:mm')
                        }
                    ] if session.journey.bookACourtHearing.postHearingStartTime
                ]
            }) }}
        </div>
    </div>

    {% set options = availableSlots %}
    {% if options.length > 0 %}
        <form method='POST'>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

            {% for period, options in options | groupBy('timeSlot') %}
                <div class="govuk-grid-row govuk-!-margin-top-6">
                    <div class="govuk-grid-column-two-thirds">
                        <h2 class="govuk-heading-m">{{ TimePeriod[period] | convertToTitleCase }} slots</h2>

                        {% set items = [] %}
                        {% for option in options %}
                            {% set value = option.startTime + '///' + option.endTime + '///' + option.dpsLocationKey + '///' + option.timeSlot %}
                            {% set startTime = session.journey.bookACourtHearing.preHearingStartTime or session.journey.bookACourtHearing.startTime %}
                            {% set items = (items.push({
                                value: value,
                                html: '
                                        <span>' + option.startTime + ' to ' + option.endTime + '</span>
                                      ',
                                checked: option.startTime == (startTime | formatDate('HH:mm'))
                            }), items) %}
                        {% endfor %}
                        {{ govukRadios({
                            idPrefix: "option" + (('-' + period) if loop.index0 > 0),
                            name: "option",
                            items: items,
                            errorMessage: validationErrors | findError("option"),
                            classes: 'govuk-radios--double-label'
                        }) }}

                    </div>

                </div>
            {% endfor %}

            <div class="govuk-button-group">
                <a href="../video-link-booking" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">Change</a>
                {{ govukButton({
                    text: "Continue"
                }) }}
            </div>
        </form>
    {% endif %}
{% endblock %}
