{% extends "partials/layout.njk" %}
{% from "components/card.njk" import card %}

{% set pageTitle = "Administration" %}
{% set backLinkText = "Back" %}
{% set backLinkHref = "/" %}

{% block content %}
    <h1 class="govuk-heading-l govuk-!-margin-top-7">{{ pageTitle }}</h1>
    <div class="card-group govuk-grid-row">
        <div class="govuk-grid-column-one-third card-group__item">
            {{ card({
                "href": "/admin/extract-by-hearing-date",
                "clickable": "true",
                "heading": "Extract data by hearing date",
                "description": "Download a CSV summary of bookings by the hearing or meeting date",
                "data-qa": "extract-by-hearing-date"
            }) }}
        </div>

        <div class="govuk-grid-column-one-third card-group__item">
            {{ card({
                "href": "/admin/extract-by-booking-date",
                "clickable": "true",
                "heading": "Extract data by booking date",
                "description": "Download a CSV summary of bookings by the booking date",
                "data-qa": "extract-by-booking-date"
            }) }}
        </div>

        <div class="govuk-grid-column-one-third card-group__item">
            {{ card({
                "href": "/admin/view-prison-list",
                "clickable": "true",
                "heading": "Manage prison video rooms",
                "description": "View and manage permissions for prison video link rooms",
                "data-qa": "manage-prison-video-rooms"
             }) }}
        </div>
    </div>
{% endblock %}
