{% extends "partials/layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "components/locationUsageTag.njk" import locationUsageTag %}

{% set backLinkText = "Back" %}
{% set backLinkHref = "/admin/view-prison-room/" + prison.code + "/" + room.dpsLocationId %}

{% set pageTitle = "Are you sure you want to delete this schedule for " + room.description %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <span class="govuk-caption-l">{{ prison.name }}</span>
            <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
            <div class="govuk-!-margin-bottom-6">
                {% if room.extraAttributes %}
                    {{ locationUsageTag("Customised", "govuk-tag--green") }}
                {% else %}
                    {{ locationUsageTag("Default", "govuk-tag--grey") }}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters-from-desktop">

            <form method='POST' data-module="form-spinner" data-loading-text="Deleting schedule">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ displaySingleRoomSchedule(prison, room, courts, probationTeams, scheduleId) }}

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Yes, delete this schedule",
                        classes: "govuk-button--warning",
                        preventDoubleClick: true,
                        type: "submit"
                    }) }}

                    {{ govukButton({
                        text: "Cancel",
                        classes: "govuk-button--secondary",
                        href: "/admin/view-prison-room/" + prison.code + "/" + room.dpsLocationId
                    }) }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}


{% macro displaySingleRoomSchedule(prison, room, courts, probationTeams, scheduleId) %}

    {% set rows = [] %}

    {% for schedule in room.extraAttributes.schedule %}

        {% if schedule.scheduleId == scheduleId %}
            {% set usageHtml %}
                {{ locationUsageTag(schedule.locationUsage | convertToTitleCase, "govuk-tag--blue") }}
            {% endset %}

            {% set allocationsHtml %}
                {% for party in schedule.allowedParties %}
                    <div>
                        {% if schedule.locationUsage === 'COURT' %}
                            {{ (courts | find('code', party)).description or 'Unknown court' }}
                        {% else %}
                            {{ (probationTeams | find('code', party)).description or 'Unknown team' }}
                        {% endif %}
                    </div>
                {% endfor %}
            {% endset %}

            {% set rows = (rows.push([
                { text: schedule.startDayOfWeek | capitalize },
                { text: schedule.endDayOfWeek | capitalize },
                { text: schedule.startTime | truncate(5, true, '') },
                { text: schedule.endTime | truncate(5, true, '') },
                { html: usageHtml },
                { html: allocationsHtml }
            ]), rows) %}
        {% endif %}

    {% endfor %}

    {{ govukTable({
        caption: "Room schedule",
        captionClasses: "govuk-table__caption--m",
        head: [
            { text: "Start day" },
            { text: "End day" },
            { text: "Start time" },
            { text: "End time" },
            { text: "Permissions" },
            { text: "Allocations" }
        ],
        rows: rows
    }) }}

{% endmacro %}
