{% extends "partials/layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "components/locationUsageTag.njk" import locationUsageTag %}
{% from "partials/admin/displaySingleRoomSchedule.njk" import displaySingleRoomSchedule %}
{% from "partials/admin/enterRoomSchedule.njk" import enterRoomSchedule %}

{% set backLinkText = "Back" %}
{% set backLinkHref = "/admin/view-prison-room/" + prison.code + "/" + room.dpsLocationId %}

{% set pageTitle = room.description %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <span class="govuk-caption-l">{{ prison.name }}</span>
            <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters-from-desktop">

            <form method='POST' data-module="form-spinner" data-loading-text="Amending schedule">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ displaySingleRoomSchedule(prison, room, courts, probationTeams, scheduleId) }}

                {{ enterRoomSchedule("edit", prison, room, courts, probationTeams, formResponses, validationErrors, editValues) }}

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Save",
                        preventDoubleClick: true,
                        type: "submit"
                    }) }}

                    <a href="/admin/view-prison-room/{{ prison.code }}/{{ room.dpsLocationId }}"
                       class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">
                        Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
