{% extends "partials/layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "components/locationUsageTag.njk" import locationUsageTag %}
{% from "partials/admin/displayRoomSchedule.njk" import displayRoomSchedule %}
{% from "partials/admin/firstRoomSchedule.njk" import firstRoomSchedule %}
{% from "partials/admin/selectCourtFromList.njk" import selectCourtFromList %}
{% from "partials/admin/selectProbationTeamFromList.njk" import selectProbationTeamFromList %}

{% set backLinkText = "Back to room list" %}
{% set backLinkHref = "/admin/view-prison-locations/" + prison.code %}

{% set pageTitle = room.description %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <span class="govuk-caption-l">{{ prison.name }}</span>
            <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
            <div class="govuk-!-margin-bottom-6">
               {% if room.extraAttributes %}
                   {{ locationUsageTag("Customised", "govuk-tag--green") }}
               {% else %}
                   {{ locationUsageTag("Default", "govuk-tag--grey") }}
               {% endif %}
            </div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters-from-desktop">

            <form method='POST' data-module="form-spinner" data-loading-text="Updating room settings">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukRadios({
                    classes: "govuk-radios--inline govuk-radios--small",
                    idPrefix: "roomStatus",
                    name: "roomStatus",
                    fieldset: {
                        legend: {
                            text: "Room status",
                            classes: 'govuk-fieldset__legend--m'
                        }
                    },
                    hint: {
                        text: "Select out of use if the room is not available for any bookings"
                    },
                    items: [
                        {
                            value: "active",
                            text: "Active",
                            checked: formResponses.roomStatus == 'active' or room.extraAttributes.locationStatus == "ACTIVE" or (not room.extraAttributes and not formResponses)
                        },
                        {
                            value: "inactive",
                            text: "Out of service",
                            checked: formResponses.roomStatus == 'inactive' or room.extraAttributes.locationStatus == "INACTIVE"
                        }
                    ],
                    errorMessage: validationErrors | findError('roomStatus')
                }) }}

                {{ govukInput({
                    id: "videoUrl",
                    name: "videoUrl",
                    label: {
                        text: "Room link",
                        classes: "govuk-fieldset__legend--m"
                    },
                    errorMessage: validationErrors | findError('videoUrl'),
                    classes: 'govuk-!-width-one-third',
                    value: formResponses.videoUrl or room.extraAttributes.prisonVideoUrl
                }) }}

                {% set courtHtml %}
                    {{  selectCourtFromList(courts, "courtCodes", room, formResponses, validationErrors) }}
                {% endset %}

                {% set probationHtml %}
                     {{ selectProbationTeamFromList(probationTeams, "probationTeamCodes", room) }}
                {% endset %}

                {% set scheduleHtml %}
                    {# Conditional schedules - list of existing rows or prompt for first entry #}
                    {% if room.extraAttributes.schedule.length %}
                        {# Display existing schedules and edit links #}
                        {{ displayRoomSchedule(prison, room) }}
                    {% else %}
                        {# Display the input fields for a first schedule row #}
                        {{ firstRoomSchedule(prison, room, courts, probationTeams, formResponses, validationErrors) }}
                    {% endif %}
                {% endset %}

                {{ govukRadios({
                    classes: "govuk-radios--small",
                    idPrefix: "permission",
                    name: "permission",
                    fieldset: {
                        legend: {
                            text: "Room permissions",
                            classes: 'govuk-fieldset__legend--m'
                        }
                    },
                    hint: {
                        text: "All courts and probation teams applied by default unless specified. Select schedule to customise room availability."
                    },
                    items: [
                        {
                            value: "court",
                            text: "Court",
                            checked: formResponses.permission == 'court' or room.extraAttributes.locationUsage == "COURT",
                            conditional: { html: courtHtml }
                        },
                        {
                            value: "probation",
                            text: "Probation",
                            checked: formResponses.permission == 'probation' or room.extraAttributes.locationUsage == "PROBATION",
                            conditional: { html: probationHtml }
                        },
                        {
                            value: "shared",
                            text: "Shared",
                            checked: formResponses.permission == 'shared' or room.extraAttributes.locationUsage == "SHARED" or (not room.extraAttributes and not formResponses)
                        },
                        {
                            value: "schedule",
                            text: "Schedule",
                            checked: formResponses.permission == 'schedule' or room.extraAttributes.locationUsage == "SCHEDULE",
                            conditional: { html: scheduleHtml }
                        }
                    ],
                    errorMessage: validationErrors | findError('permission')
                }) }}

                {{ govukCharacterCount({
                    name: "notes",
                    id: "notes",
                    label: {
                        text: "Comments (optional)",
                        classes: 'govuk-fieldset__legend--m'
                    },
                    maxlength: 100,
                    value: formResponses.notes or room.extraAttributes.notes
                }) }}

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Save",
                        preventDoubleClick: true,
                        type: "submit"
                    }) }}

                    {{ govukButton({
                        text: "Cancel",
                        classes: "govuk-button--secondary",
                        href: "/admin/view-prison-locations/" + prison.code
                    }) }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
