{% extends "partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = "Prisons enabled for video link bookings" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full-from-desktop">
            {% if prisonList.length %}
               <p class="govuk-body">
                   {% set rows = [] %}

                   {% for result in prisonList %}

                       {% set choosePrisonHtml %}
                         <a href="/admin/view-prison-locations?prisonCode={{ result.code }}"
                            class="govuk-link govuk-link--no-visited-state">Choose
                          </a>
                       {% endset %}

                       {% set rows = (rows.push([
                           { text: result.code },
                           { text: result.name },
                           { text: result.enabled },
                           { text: result.notes },
                           { html: choosePrisonHtml }
                          ]), rows)
                       %}

                   {% endfor %}

                   {{ govukTable({
                       head: [
                          { text: "Code" },
                          { text: "Name" },
                          { text: "Enabled" },
                          { text: "Notes" },
                          { html: "Action" }
                      ],
                      rows: rows
                   }) }}
            {% else %}
              <p class="govuk-body">
                There are no prisons enabled for BVLS.
                <a href="/admin" class="govuk-link govuk-!-font-size-19">Return to the admin menu</a>
              </p>

            {% endif %}
        </div>
    </div>
{% endblock %}
