{% extends "partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "components/locationUsageTag.njk" import locationUsageTag %}

{% set pageTitle = room.description %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <span class="govuk-body govuk-caption govuk-!-margin-bottom-2">{{ prison.name }}<span>
            <h1 class="govuk-heading-l govuk-!-margin-bottom-2">{{ pageTitle }}</h1>
            <div class="govuk-!-margin-bottom-6">
               {% if room.extraAttributes %}
                   {{ locationUsageTag("Customised", "govuk-tag--green") }}
               {% else %}
                   {{ locationUsageTag("Default", "govuk-tag--lightgrey") }}
               {% endif %}
            </div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters-from-desktop">

            <form method='POST'">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <input type="hidden" name="prisonCode" value="{{ prison.code }}" />
                <input type="hidden" name="dpsLocationId" value="{{ room.dpsLocationId }}" />

                <div>
                  <h2 class="govuk-heading-m">Room status</h2>
                </div>

                {{ govukRadios({
                     classes: "govuk-radios--inline govuk-radios--small",
                     idPrefix: "roomStatus",
                     name: "roomStatus",
                     errorMessage: validationErrors | findError('roomStatus'),
                     fieldset: {
                       legend: {
                         text: "Select out of use if the room should not be available for any bookings",
                         classes: "govuk-hint"
                       }
                     },
                     items: [
                       {
                         value: "active",
                         text: "Active",
                         checked: formResponses.roomStatus == 'active' or room.extraAttributes.locationStatus == "ACTIVE"
                       },
                       {
                         value: "inactive",
                         text: "Out of service",
                         checked: formResponses.roomStatus == 'inactive' or room.extraAttributes.locationStatus == "INACTIVE"
                       }
                     ]
                }) }}

                <div>
                  <h2 class="govuk-heading-m">Room permissions</h2>
                </div>

                {{ govukRadios({
                  classes: "govuk-radios--small",
                  idPrefix: "permission",
                  name: "permission",
                  errorMessage: validationErrors | findError('permission'),
                  fieldset: {
                    legend: {
                      text: "All courts and probation teams applied by default unless specified. Select schedule to customise room availability.",
                      classes: "govuk-hint"
                    }
                  },
                  items: [
                    {
                      value: "court",
                      text: "Court",
                      checked: formResponses.permission == 'court' or room.extraAttributes.locationUsage == "COURT"
                    },
                    {
                      value: "probation",
                      text: "Probation",
                      checked: formResponses.permission == 'probation' or room.extraAttributes.locationUsage == "PROBATION"
                    },
                    {
                      value: "shared",
                      text: "Shared",
                      checked: formResponses.permission == 'shared' or room.extraAttributes.locationUsage == "SHARED" or room.extraAttributes.locationUsage is null
                    },
                    {
                      value: "schedule",
                      text: "Schedule",
                      checked: formResponses.permission == 'schedule' or room.extraAttributes.locationUsage == "SCHEDULE"
                    }
                  ]
                }) }}

                {% if room.extraAttributes.schedule.length %}
                   <div>
                      <h2 class="govuk-heading-m">Room schedule</h2>
                    </div>

                    <div class="govuk-body">
                       {% set rows = [] %}
                       {% for schedule in room.extraAttributes.schedule %}
                          {% set editLinkHtml %}
                            <a href="/admin/edit-schedule/{{ prison.code }}/{{ room.dpsLocationId }}/{{ schedule.scheduleId }}"
                              class="govuk-link govuk-link--no-visited-state">Edit
                            </a>
                          {% endset %}

                          {% set usageHtml %}
                            {{ locationUsageTag(schedule.locationUsage | convertToTitleCase, "govuk-tag--blue") }}
                          {% endset %}

                          {% set rows = (rows.push([
                              { text: schedule.startDayOfWeek },
                              { text: schedule.endDayOfWeek },
                              { text: schedule.startTime },
                              { text: schedule.endTime },
                              { html: usageHtml },
                              { html: editLinkHtml }
                            ]), rows)
                          %}

                       {% endfor %}

                       {{ govukTable({
                         head: [
                           { text: "Start day" },
                           { text: "End day" },
                           { text: "Start time" },
                           { text: "End time" },
                           { text: "Permissions" },
                           { text: "Action" }
                         ],
                         rows: rows
                       }) }}

                    </div>
                {% endif %}

                {# Add another button #}

                <div>
                  <h2 class="govuk-heading-m">Room video link</h2>
                </div>

                {{ govukInput({
                    id: "videoUrl",
                    name: "videoUrl",
                    errorMessage: validationErrors | findError('videoUrl'),
                    label: { text: "The video URL for this room" },
                    classes: 'govuk-!-width-one-third',
                    value: formResponses.videoUrl or room.extraAttributes.prisonVideoUrl
                }) }}

                <div>
                  <h2 class="govuk-heading-m">Comments (optional)</h2>
                </div>

                {{ govukCharacterCount({
                  name: "notes",
                  id: "notes",
                  maxlength: 100,
                  value: formResponses.notes or room.extraAttributes.notes
                }) }}

                <div class="govuk-button-group">
                  {{ govukButton({
                    text: "Save",
                    preventDoubleClick: true,
                    type: "submit"
                  }) }}

                  {{ govukButton({
                    text: "Go back to room list",
                    classes: "govuk-button--secondary",
                    href: "/admin/view-prison-locations/" + prison.code
                  }) }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
