{% extends "partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set backLinkText = "Back" %}
{% set backLinkHref = "/admin" %}

{% set pageTitle = "Manage a prison's video link rooms" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            {% if prisonList.length %}
                <p class="govuk-body">Showing <span class="govuk-!-font-weight-bold">{{ prisonList | length }}</span> prisons</p>
                <p class="govuk-body">
                    {% set rows = [] %}

                    {% for result in prisonList %}

                    {% set choosePrisonHtml %}
                        <a href="/admin/view-prison-locations/{{ result.code }}" class="govuk-link govuk-link--no-visited-state">Manage rooms</a>
                    {% endset %}

                    {% set rows = (rows.push([
                       { text: result.name },
                       { text: result.code },
                       { html: choosePrisonHtml }
                      ]), rows)
                    %}

                    {% endfor %}

                    {{ govukTable({
                        attributes: {
                            'data-module': 'moj-sortable-table'
                        },
                        head: [
                            { text: "Prison", attributes: { "aria-sort": "ascending" } },
                            { text: "Prison code" },
                            { html: "Action" }
                        ],
                        rows: rows
                    }) }}
                </p>
            {% else %}
                <p class="govuk-body">There are no prisons enabled for BVLS.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
