{% extends "partials/layout.njk" %}

{% set type = session.req.routeContext.type %}
{% set pageTitle = "Manage your list of " + ("courts" if type == BavlJourneyType.COURT else "probation teams") %}

{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
            {% if type == BavlJourneyType.COURT %}
                <p class="govuk-body">If you select one court, this court will be used for all future bookings you make. If you select more than one court, you can select from these courts each time you make a booking.</p>
                <p class="govuk-body">You can change your list of courts in the 'Manage your list of courts' section.</p>
            {% else %}
                <p class="govuk-body">If you select one probation team, it will be used for all future bookings you make. If you select more than one probation team, you can select from these probation teams each time you make a booking.</p>
                <p class="govuk-body">You can change your list of probation teams in the 'Manage your list of probation teams' section.</p>
            {% endif %}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% if type == BavlJourneyType.COURT %}
                <h2 class="govuk-heading-m">Courts by A-Z</h2>
            {% else %}
                <h2 class="govuk-heading-m">Probation teams by A-Z</h2>
            {% endif %}

            <form method='POST' data-module="form-spinner">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {% set sections = [] %}
                {% for letter, agencyList in agencies %}
                    {% set sectionHtml %}
                        {% set items = [] %}
                        {% for agency in agencyList %}
                            {% set items = (items.push(
                                {
                                    value: agency.code,
                                    text: agency.description,
                                    checked: false if validationErrors else (agency.code in selectedPreferences | map('code'))
                                }
                            ), items) %}
                        {% endfor %}

                        {{ govukCheckboxes({
                            name: "selectedAgencies",
                            idPrefix: letter + "-agencies",
                            fieldset: {
                                legend: {
                                    text: "Agencies listed under the letter " + letter,
                                    classes: "govuk-visually-hidden"
                                }
                            },
                            items: items
                        }) }}
                    {% endset %}

                    {% set sections = (sections.push(
                        {
                            heading: { text: letter },
                            content: { html: sectionHtml }
                        }
                    ), sections) %}
                {% endfor %}

                {{ govukAccordion({
                    id: "agencies-accordian",
                    items: sections
                }) }}

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Confirm",
                        preventDoubleClick: true
                    }) }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
