{% extends "partials/layout.njk" %}

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/formatCvpLink.njk" import formatCvpLink %}

{% set pageTitle = "Video link details" %}
{% set pageHeading = ((prisoner.firstName + " " + prisoner.lastName) | convertToTitleCase) + "’s video link details" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            {% if isCancelled %}
                {% set html %}
                    <p class="govuk-notification-banner__heading">This booking has been cancelled</p>
                    <p class="govuk-body">You cannot make any changes to this booking since it has been cancelled.</p>
                {% endset %}

                {{ govukNotificationBanner({ html: html, attributes: {"data-qa": 'cancelled-banner'} }) }}
            {% endif %}

            <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            {{ govukSummaryList({
                rows: [
                    {
                        key: {
                            text: "Prisoner name"
                        },
                        value: {
                            text: ((prisoner.firstName + " " + prisoner.lastName) | convertToTitleCase) + ' (' + prisoner.prisonerNumber + ')'
                        }
                    },
                    {
                        key: {
                            text: "Prison"
                        },
                        value: {
                            text: prison.name
                        }
                    },
                    {
                        key: {
                            text: "Court"
                        },
                        value: {
                            text: booking.courtDescription
                        }
                    } if booking.bookingType == 'COURT',
                    {
                        key: {
                            text: "Probation team"
                        },
                        value: {
                            text: booking.probationTeamDescription
                        }
                    } if booking.bookingType == 'PROBATION',
                    {
                        key: {
                            text: "Probation officer's full name"
                        },
                        value: {
                            text: booking.additionalBookingDetails.contactName or "Not yet known"
                        }
                    } if booking.bookingType == 'PROBATION',
                    {
                        key: {
                            text: "Email address"
                        },
                        value: {
                            text: booking.additionalBookingDetails.contactEmail or "Not yet known"
                        }
                    } if booking.bookingType == 'PROBATION',
                    {
                        key: {
                            text: "UK phone number"
                        },
                        value: {
                            text: booking.additionalBookingDetails.contactNumber or ("Not yet known" if not booking.additionalBookingDetails.contactName else "None entered")
                        }
                    } if booking.bookingType == 'PROBATION',
                    {
                        key: {
                            text: "Hearing type"
                        },
                        value: {
                            text: booking.courtHearingTypeDescription
                        },
                        actions: {
                            items: [
                                {
                                    href: '/' + booking.bookingType | lower + '/booking/amend/' + booking.videoLinkBookingId + '/video-link-booking#hearingTypeCode',
                                    text: "Change",
                                    classes: "govuk-link--no-visited-state",
                                    attributes: {"data-qa": 'change-hearing-type'}
                                }
                            ]
                        } if isAmendable
                    } if booking.bookingType == 'COURT',
                    {
                        key: {
                            text: "Meeting type"
                        },
                        value: {
                            text: booking.probationMeetingTypeDescription
                        }
                    } if booking.bookingType == 'PROBATION',
                    {
                        key: {
                            text: "Date"
                        },
                        value: {
                            text: bookingDate | formatDate
                        },
                        actions: {
                            items: [
                                {
                                    href: '/' + booking.bookingType | lower + '/booking/amend/' + booking.videoLinkBookingId + '/video-link-booking#date',
                                    text: "Change",
                                    classes: "govuk-link--no-visited-state",
                                    attributes: {"data-qa": 'change-court-date'}
                                }
                            ]
                        } if isAmendable
                    } if booking.bookingType == 'COURT',
                    {
                        key: {
                            text: "Date"
                        },
                        value: {
                            text: bookingDate | formatDate
                        }
                    } if booking.bookingType == 'PROBATION',
                    {
                        key: {
                            text: "Pre-court hearing time"
                        },
                        value: {
                            text: (booking.prisonAppointments | find('appointmentType', 'VLB_COURT_PRE')).startTime + ' to ' + (booking.prisonAppointments | find('appointmentType', 'VLB_COURT_PRE')).endTime
                        }
                    } if booking.prisonAppointments | find('appointmentType', 'VLB_COURT_PRE'),
                    {
                        key: {
                            text: "Pre-court hearing room"
                        },
                        value: {
                            text: (rooms | find('key', (booking.prisonAppointments | find('appointmentType', 'VLB_COURT_PRE')).prisonLocKey)).description
                        },
                        actions: {
                            items: [
                                {
                                    href: '/' + booking.bookingType | lower + '/booking/amend/' + booking.videoLinkBookingId + '/video-link-booking/select-rooms#preLocation',
                                    text: "Change",
                                    classes: "govuk-link--no-visited-state",
                                    attributes: {"data-qa": 'change-pre-location'}
                                }
                            ]
                        } if isAmendable
                    } if booking.prisonAppointments | find('appointmentType', 'VLB_COURT_PRE'),
                    {
                        key: {
                            text: "Pre-court hearing link (PVL)"
                        },
                        value: {
                            text: (rooms | find('key', (booking.prisonAppointments | find('appointmentType', 'VLB_COURT_PRE')).prisonLocKey)).extraAttributes.prisonVideoUrl or "Not yet known"
                        }
                    } if booking.prisonAppointments | find('appointmentType', 'VLB_COURT_PRE'),
                    {
                        key: {
                            text: "Court hearing time"
                        },
                        value: {
                            text: (booking.prisonAppointments | find('appointmentType', 'VLB_COURT_MAIN')).startTime + ' to ' + (booking.prisonAppointments | find('appointmentType', 'VLB_COURT_MAIN')).endTime
                        },
                        actions: {
                            items: [
                                {
                                    href: '/' + booking.bookingType | lower + '/booking/amend/' + booking.videoLinkBookingId + '/video-link-booking#startTime',
                                    text: "Change",
                                    classes: "govuk-link--no-visited-state",
                                    attributes: {"data-qa": 'change-court-time'}
                                }
                            ]
                        } if isAmendable
                    } if booking.bookingType == 'COURT',
                    {
                        key: {
                            text: "Court hearing room"
                        },
                        value: {
                            text: (rooms | find('key', (booking.prisonAppointments | find('appointmentType', 'VLB_COURT_MAIN')).prisonLocKey)).description
                        },
                        actions: {
                            items: [
                                {
                                    href: '/' + booking.bookingType | lower + '/booking/amend/' + booking.videoLinkBookingId + '/video-link-booking/select-rooms#location',
                                    text: "Change",
                                    classes: "govuk-link--no-visited-state",
                                    attributes: {"data-qa": 'change-location'}
                                }
                            ]
                        } if isAmendable
                    } if booking.prisonAppointments | find('appointmentType', 'VLB_COURT_MAIN'),
                    {
                        key: {
                            text: "Court hearing link (CVP)"
                        },
                        value: {
                            text: formatCvpLink(booking.hmctsNumber, booking.videoLinkUrl)
                        },
                        actions: {
                            items: [
                                {
                                    href: '/' + booking.bookingType | lower + '/booking/amend/' + booking.videoLinkBookingId + '/video-link-booking#videoLinkUrl',
                                    text: "Change",
                                    classes: "govuk-link--no-visited-state",
                                    attributes: {"data-qa": 'change-video-url'}
                                }
                            ]
                        } if isAmendable
                    } if booking.bookingType == 'COURT',
                    {
                        key: {
                            text: "Guest pin"
                        },
                        value: {
                            text: booking.guestPin or "None entered"
                        },
                        actions: {
                            items: [
                                {
                                    href: '/' + booking.bookingType | lower + '/booking/amend/' + booking.videoLinkBookingId + '/video-link-booking#guestPin',
                                    text: "Change",
                                    classes: "govuk-link--no-visited-state",
                                    attributes: {"data-qa": 'change-guest-pin'}
                                }
                            ]
                         } if isAmendable
                    } if booking.bookingType == 'COURT',
                    {
                        key: {
                            text: "Post-court hearing time"
                        },
                        value: {
                            text: (booking.prisonAppointments | find('appointmentType', 'VLB_COURT_POST')).startTime + ' to ' + (booking.prisonAppointments | find('appointmentType', 'VLB_COURT_POST')).endTime
                        }
                    } if booking.prisonAppointments | find('appointmentType', 'VLB_COURT_POST'),
                    {
                        key: {
                            text: "Post-court hearing room"
                        },
                        value: {
                            text: (rooms | find('key', (booking.prisonAppointments | find('appointmentType', 'VLB_COURT_POST')).prisonLocKey)).description
                        },
                        actions: {
                            items: [
                                {
                                    href: '/' + booking.bookingType | lower + '/booking/amend/' + booking.videoLinkBookingId + '/video-link-booking/select-rooms#postLocation',
                                    text: "Change",
                                    classes: "govuk-link--no-visited-state",
                                    attributes: {"data-qa": 'change-post-location'}
                                }
                            ]
                        } if isAmendable
                    } if booking.prisonAppointments | find('appointmentType', 'VLB_COURT_POST'),
                    {
                        key: {
                            text: "Post-court hearing link (PVL)"
                        },
                        value: {
                            text: (rooms | find('key', (booking.prisonAppointments | find('appointmentType', 'VLB_COURT_POST')).prisonLocKey)).extraAttributes.prisonVideoUrl or "Not yet known"
                        }
                    } if booking.prisonAppointments | find('appointmentType', 'VLB_COURT_POST'),
                    {
                        key: {
                            text: "Meeting time"
                        },
                        value: {
                            text: (booking.prisonAppointments | find('appointmentType', 'VLB_PROBATION')).startTime + ' to ' + (booking.prisonAppointments | find('appointmentType', 'VLB_PROBATION')).endTime
                        }
                    } if booking.bookingType == 'PROBATION',
                    {
                        key: {
                            text: "Meeting room"
                        },
                        value: {
                            text: (rooms | find('key', (booking.prisonAppointments | find('appointmentType', 'VLB_PROBATION')).prisonLocKey)).description
                        }
                    } if booking.bookingType == 'PROBATION',
                    {
                        key: {
                            text: "Prison video link (PVL)"
                        },
                        value: {
                            text: booking.videoLinkUrl or "None entered"
                        }
                    } if booking.bookingType == 'PROBATION',
                    {
                        key: {
                            text: "Notes for prison staff"
                        },
                        value: {
                            text: booking.notesForStaff or "None entered"
                        },
                        actions: {
                            items: [
                                {
                                    href: '/' + booking.bookingType | lower + '/booking/amend/' + booking.videoLinkBookingId + '/video-link-booking/comments',
                                    text: "Change",
                                    classes: "govuk-link--no-visited-state",
                                    attributes: {"data-qa": 'change-notes'}
                                }
                            ]
                        } if isAmendable
                    }
                ]
            }) }}

            {% if isAmendable %}
                <div class="govuk-button-group">
                    {{ govukButton({ text: "Change booking details", href: '/' + booking.bookingType | lower + '/booking/amend/' + booking.videoLinkBookingId + '/video-link-booking', attributes: { 'data-qa': 'change-link'} }) }}
                    {{ govukButton({ text: "Cancel video link", href: '/' + booking.bookingType | lower + '/booking/cancel/' + booking.videoLinkBookingId + '/confirm', classes: "govuk-button--secondary" }) }}
                </div>
            {% endif %}
            {% if viewMultipleAgenciesBookings %}
                {% set searchParams = session.journey.viewMultipleAgencyBookingsJourney | toViewBookingsSearchParams %}
                <a href='/{{ booking.bookingType | lower }}/view-booking?{{ searchParams }}' class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" data-qa="return-to-all-bookings-link">Return to all video link bookings</a>
            {% else %}
              <a href='/{{ booking.bookingType | lower }}/view-booking?date={{ bookingDate | formatDate("dd-MM-yyyy") }}&agencyCode={{ agencyCode }}' class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" data-qa="return-to-all-bookings-link">Return to all video link bookings</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
