{% extends "partials/layout.njk" %}

{% from "components/hmppsDatePicker.njk" import hmppsDatePicker %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set type = session.req.params.type %}
{% set pageTitle = "Video link bookings" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
            <p class='govuk-body'>You can view and change video link bookings for all the {{ 'courts' if type == 'court' else 'probation teams' }} you have selected.</p>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <form method='GET' class='horizontal-form govuk-!-margin-bottom-6'>

                {{ hmppsDatePicker({
                    id: 'date',
                    name: 'date',
                    label: { text: "Date" },
                    classes: 'hmpps-datepicker--fixed-width',
                    errorMessage: {} if validationErrors | findError('date'),
                    value: session.req.query.date or now() | formatDate('dd/MM/yyyy')
                }) }}

                {% set items = [] %}
                {% for agency in agencies %}
                    {% set items = (items.push({
                        value: agency.code,
                        text: agency.description,
                        selected: session.req.query.agencyCode == agency.code
                    }), items) %}
                {% endfor %}
                {{ govukSelect({
                    name: "agencyCode",
                    id: "agencyCode",
                    label: { text: "Court" if type == 'court' else "Probation team" },
                    items: items
                }) }}

                {{ govukButton({ text: "Update results", type: "submit" }) }}
            </form>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            {% if appointments.length %}

                <p class="govuk-body-l"><span class='govuk-!-font-weight-bold'>Total:</span> {{ appointments.length }}</p>

                {% set rows = [] %}
                {% for item in appointments %}
                    {% set rows = (rows.push([
                            { text: item.startTime + ' to ' + item.endTime, attributes: { 'data-sort-value': item.startTime | parseDate('HH:mm') | formatDate("HHmm") } },
                            { text: item.prisonerName | convertToTitleCase },
                            { html: '<div>'+ item.prisonLocationDescription +'</div><div class="govuk-hint govuk-!-margin-bottom-0">' + item.prisonName + '</div>' },
                            { html: '<div>' + (item.hearingTypeDescription or item.probationMeetingTypeDescription) + '</div>' +
                                    ('<strong class="govuk-tag govuk-tag--small">Pre-court hearing</strong>' if item.appointmentType == 'VLB_COURT_PRE') +
                                    ('<strong class="govuk-tag govuk-tag--small">Post-court hearing</strong>' if item.appointmentType == 'VLB_COURT_POST') },
                            { html: '<a class="govuk-link govuk-link--no-visited-state" href="view-booking/' + item.videoBookingId + '">View or edit</a>' if item.appointmentType == 'VLB_COURT_MAIN' or item.appointmentType == 'VLB_PROBATION' else ''}
                        ]
                    ), rows) %}
                {% endfor %}
                {{ govukTable({
                    attributes: {
                        'data-module': 'moj-sortable-table'
                    },
                    head: [
                        { text: "Time", attributes: { "aria-sort": "ascending" } },
                        { text: "Name" },
                        { text: "Prison location" },
                        { text: "Hearing type" if type == 'court' else 'Meeting type' },
                        { html: "<span class='govuk-visually-hidden'>View or edit</span>" }
                    ],
                    rows: rows
                }) }}
            {% else %}
                <p class="govuk-body">There are no video link bookings for this date.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
