{% extends "partials/layout.njk" %}

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = ((prisoner.firstName + " " + prisoner.lastName) | convertToTitleCase) + "’s video link details" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            {% if isCancelled %}
                {% set html %}
                    <p class="govuk-notification-banner__heading">This booking has been cancelled</p>
                    <p class="govuk-body">You cannot make any changes to this booking since it has been cancelled.</p>
                {% endset %}

                {{ govukNotificationBanner({ html: html, attributes: {"data-qa": 'cancelled-banner'} }) }}
            {% endif %}

            <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            {{ govukSummaryList({
                rows: [
                    {
                        key: {
                            text: "Name"
                        },
                        value: {
                            text: ((prisoner.firstName + " " + prisoner.lastName) | convertToTitleCase) + ' (' + prisoner.prisonerNumber + ')'
                        }
                    },
                    {
                        key: {
                            text: "Prison"
                        },
                        value: {
                            text: prisoner.prisonName
                        }
                    },
                    {
                    key: {
                        text: "Prison room"
                    },
                        value: {
                            text: (rooms | find('key', (booking.prisonAppointments | find('appointmentType', 'VLB_COURT_MAIN')).prisonLocKey)).description
                        }
                    } if booking.bookingType == 'COURT',
                    {
                        key: {
                            text: "Prison room"
                        },
                        value: {
                            text: (rooms | find('key', (booking.prisonAppointments | find('appointmentType', 'VLB_PROBATION')).prisonLocKey)).description
                        }
                    } if booking.bookingType == 'PROBATION',
                    {
                        key: {
                            text: "Court"
                        },
                        value: {
                            text: booking.courtDescription
                        }
                    } if booking.bookingType == 'COURT',
                    {
                        key: {
                            text: "Probation team"
                        },
                        value: {
                            text: booking.probationTeamDescription
                        }
                    } if booking.bookingType == 'PROBATION',
                    {
                        key: {
                            text: "Hearing type"
                        },
                        value: {
                            text: booking.courtHearingTypeDescription
                        }
                    } if booking.bookingType == 'COURT',
                    {
                        key: {
                            text: "Meeting type"
                        },
                        value: {
                            text: booking.probationMeetingTypeDescription
                        }
                    } if booking.bookingType == 'PROBATION',
                    {
                        key: {
                            text: "Date"
                        },
                        value: {
                            text: (booking.prisonAppointments | find('appointmentType', 'VLB_COURT_MAIN')).appointmentDate | formatDate
                        }
                    } if booking.bookingType == 'COURT',
                    {
                        key: {
                            text: "Date"
                        },
                        value: {
                            text: (booking.prisonAppointments | find('appointmentType', 'VLB_PROBATION')).appointmentDate | formatDate
                        }
                    } if booking.bookingType == 'PROBATION',
                    {
                        key: {
                            text: "Hearing start time"
                        },
                        value: {
                            text: (booking.prisonAppointments | find('appointmentType', 'VLB_COURT_MAIN')).startTime
                        }
                    } if booking.bookingType == 'COURT',
                    {
                        key: {
                            text: "Meeting start time"
                        },
                        value: {
                            text: (booking.prisonAppointments | find('appointmentType', 'VLB_PROBATION')).startTime
                        }
                    } if booking.bookingType == 'PROBATION',
                    {
                        key: {
                            text: "Hearing end time"
                        },
                        value: {
                            text: (booking.prisonAppointments | find('appointmentType', 'VLB_COURT_MAIN')).endTime
                        }
                    } if booking.bookingType == 'COURT',
                    {
                        key: {
                            text: "Meeting end time"
                        },
                        value: {
                            text: (booking.prisonAppointments | find('appointmentType', 'VLB_PROBATION')).endTime
                        }
                    } if booking.bookingType == 'PROBATION',
                    {
                        key: {
                            text: "Pre-court hearing"
                        },
                        value: {
                            text: (rooms | find('key', (booking.prisonAppointments | find('appointmentType', 'VLB_COURT_PRE')).prisonLocKey)).description + " - " + (booking.prisonAppointments | find('appointmentType', 'VLB_COURT_PRE')).startTime + " to " + (booking.prisonAppointments | find('appointmentType', 'VLB_COURT_PRE')).endTime
                        }
                    } if booking.prisonAppointments | find('appointmentType', 'VLB_COURT_PRE'),
                    {
                        key: {
                            text: "Post-court hearing"
                        },
                        value: {
                            text: (rooms | find('key', (booking.prisonAppointments | find('appointmentType', 'VLB_COURT_POST')).prisonLocKey)).description + " - " + (booking.prisonAppointments | find('appointmentType', 'VLB_COURT_POST')).startTime + " to " + (booking.prisonAppointments | find('appointmentType', 'VLB_COURT_POST')).endTime
                        }
                    } if booking.prisonAppointments | find('appointmentType', 'VLB_COURT_POST'),
                    {
                        key: {
                            text: "Court hearing link"
                        },
                        value: {
                            text: booking.videoLinkUrl or "Not entered"
                        }
                    } if booking.bookingType == 'COURT',
                    {
                        key: {
                            text: "Comments"
                        },
                        value: {
                            text: booking.comments or "None provided"
                        },
                        actions: {
                            items: [
                                {
                                    href: '/' + booking.bookingType | lower + '/booking/amend/' + booking.videoLinkBookingId + '/video-link-booking/comments',
                                    text: "Change comments" if booking.comments else "Add comments",
                                    classes: "govuk-link--no-visited-state"
                                }
                            ]
                        } if isAmendable
                    }
                ]
            }) }}

            {% if isAmendable %}
                <div class="govuk-button-group">
                    {{ govukButton({ text: "Change booking details", href: '/' + booking.bookingType | lower + '/booking/amend/' + booking.videoLinkBookingId + '/video-link-booking', attributes: { 'data-qa': 'change-link'} }) }}
                    {{ govukButton({ text: "Cancel video link", href: '/' + booking.bookingType | lower + '/booking/cancel/' + booking.videoLinkBookingId + '/confirm', classes: "govuk-button--secondary" }) }}
                </div>
            {% endif %}
            <a href='/{{ booking.bookingType | lower }}/view-booking' class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">Return to all video link bookings</a>
        </div>
    </div>
{% endblock %}
